/* Anrede */
div.form-salutation:nth-child(5)
{
	display: none !important;
}

/* Betreff */
div.formail:nth-child(4)
{
	display: none !important;
}

/* Persönliche Anmerkung */
div.form-note:nth-child(6)
{
	display: none !important;
}

/* Schriftgroesse Unterschriftenfelder */
.annotation_marker
{
	font-size: 10px !important;
}
