### {{ ansible_managed }} ###

## This is a template for virt-who configuration files. Please see
## virt-who-config(5) manual page for detailed information.
##
## virt-who checks all files in /etc/virt-who.d/ if they're valid ini-like
## files and uses them as configuration. Each file might contain more configs.
##
## You can uncomment and fill following template or create new file with
## similar content.

[ {{ ansible_fqdn }} ]
type=vdsm
hypervisor_id={{ ansible_hostname }}

