{{ ansible_managed }}
[2J[0;0H
[?7h[255D[0;1;47m###############################################[30m##[37m##############################[40m 
[47m######[0;31;47m*###[1;37m*[0;30;47m*[31m###[1;37m################################[0;30;47m##[1m#[37m##[0;30;47m#[1m#[37m#########################[40m 
[47m######[0;31;47m#[30m*[31m####[30m*[31m###[1;37m###############################[0;30;47m###[1;37m##[0;30;47m##[1;37m####################[30m#[0;30;47m#[1;37m###[40m 
[47m#####[0;31;47m####[30m*[31m###[30m*[31m##[1;37m###############################[0;30;47m###[1;37m##[0;30;47m##[1;37m####################[0;30;47m##[1;37m###[40m 
[47m##[0;31;47m###[30m*[31m###########[1;37m####[0;30;47m##[1m#[37m#[30m#[0;30;47m##[1;37m###[0;30;47m######[1;37m#####[0;30;47m###[1m##[0;30;47m###[1;37m##[0;30;47m##[1;37m#[30m####[37m#####[0;30;47m######[1;37m##[0;30;47m######[1;37m#[40m 
[47m#[0;31;47m####[30m***[31m#########[1;37m####[0;30;47m#######[1;37m##[0;30;47m##[1m#[37m##[30m#[0;30;47m##[1;37m###[0;30;47m##[1m#[37m##[0;30;47m####[1;37m##[0;30;47m##[1m#[0;30;47m#[1;37m##[0;30;47m##[1;37m###[0;30;47m##[1;37m####[0;30;47m##[1;37m###[0;30;47m##[1;37m###[40m 
[47m##[0;31;47m#####[30m****[31m####[30m**[31m##[1;37m##[0;30;47m###[1m#[37m####[0;30;47m###[1;37m####[0;30;47m###[1;37m#[0;30;47m###[1;37m####[0;30;47m###[1;37m##[0;30;47m###[1;37m####[0;30;47m##[1;37m########[0;30;47m##[1;37m###[0;30;47m##[1;37m###[40m 
[47m###[0;31;47m########[30m****[31m#####[1;37m#[0;30;47m###[1;37m#####[0;30;47m##########[1;37m#[0;30;47m###[1;37m####[0;30;47m###[1;37m##[0;30;47m##[1;37m#####[0;30;47m##[1;37m###[0;30;47m#######[1;37m###[0;30;47m##[1;37m###[40m 
[47m#####[0;31;47m###############[1;37m#[0;30;47m###[1;37m#####[0;30;47m###[1;37m########[0;30;47m###[1;37m####[0;30;47m###[1;37m##[0;30;47m##[1;37m#####[0;30;47m##[1;37m##[0;30;47m##[1;37m####[0;30;47m##[1;37m###[0;30;47m##[1;37m###[40m 
[47m#######[0;31;47m############[1;37m##[0;30;47m###[1;37m#####[0;30;47m###[1;37m########[0;30;47m###[1;37m####[0;30;47m###[1;37m##[0;30;47m##[1;37m#####[0;30;47m##[1;37m##[0;30;47m##[1;37m####[0;30;47m##[1;37m###[0;30;47m##[1;37m###[40m 
[47m##########[0;31;47m########[1;37m###[0;30;47m###[1;37m#####[30m#[0;30;47m##[1m#[37m###[30m#[0;30;47m##[1;37m#[0;30;47m###[1m#[37m##[0;30;47m####[1;37m##[0;30;47m##[1;37m#####[0;30;47m##[1;37m##[0;30;47m##[1;37m###[0;30;47m###[1;37m###[0;30;47m##[1;37m###[40m 
[47m#####################[0;30;47m###[1;37m######[30m#[0;30;47m#######[1;37m###[30m#[0;30;47m#####[1;37m#[0;30;47m#[1m#[37m##[0;30;47m##[1;37m#####[0;30;47m##[1;37m###[0;30;47m#####[1;37m#[0;30;47m#[1m#[37m##[30m#[0;30;47m#[1m#[37m##[40m 

[17C[1;37;40mWelcome to ALTE LEIPZIGER Unix-Services IT-zs[0m
[40C[1;37;40m[0m

                Some facts about the system you are using:
     
                Hostname: {{ ansible_fqdn }}
                Funktion: {{ foreman.comment }}
               
                OS: {{ foreman.operatingsystem_name }}
                Kernel: {{ ansible_kernel }}
{% if "kundengruppe" in foreman_params %}
                Kundengruppe: {{ alh_kundengruppe[foreman_params.kundengruppe] }}
{% endif %}
{% if "ae_umgebung" in foreman_params %}
                AE Umgebung: {{ alh_ae_umgebung[foreman_params.ae_umgebung] }}
{% endif %}
                Number of CPUs: {{ ansible_processor_vcpus }}
                Memory: {{ (ansible_memtotal_mb/1024)|round(2) }} GB
                IP Address: {{ foreman.ip }}
                Installed: {{ foreman.created_at }}
                Linux-Stage: {{ foreman.content_facet_attributes.lifecycle_environment_name }}
                Satellite Content view: {{ foreman.content_facet_attributes.content_view_name }}

                If you have any problems or questions, contact us at: unix-team@alte-leipziger.de
            
            
