;
; ansible managed
;

[GLOBAL]
; kommentierte Werte sind Defaults
; Aenderung daran sind explizit aufgefuehrt
; Name des Exekutors wie er dann in der Adminoberflaeche auftaucht
name={{ company_name|upper }}.{{ ansible_hostname|upper }}.RHEL
; Name des Automic Systems, an dem er sich anmeldet
system=UC4

;;;;;
; log file format; ## means a sequence beginning from 00 to 10
;;;;;
logging=../temp/ucxjlx6_l##.txt
logcount=10
helplib=ucx.msl
licence_class=v

;;;;;
; change lang def
;;;;;
language=d,e
; language=e,d

; userid_type=EXCL
; UC_user_type=EXCL

; rcv_block=no
; rcv_max=30

; login_check=no
; ReadUserAlways=no
; ReportMode=600
; JobFileMode=700
; ft_temp_file=yes

; KillSignal=SIGKILL
;;;;;
; tranferred files get the owner id of the target dir
FT_Owner=directory
;;;;;
; FT_Owner=user

; FileProcessingMaxDepth=0
; FileProcessingTimeout=0
; open_file_max=32768
; - to use user hard limits of open file descriptors set open_file_max=0


[MISC]
; FileBufferSize=32k
;
; authentication=pam
; TraceFileSize=32M
; FileEndDelimiter=yes
; processinfo=no
; MsgToStdout=yes


[USERID]
; access to normal user requires:
; - allowed (only these are allowed):
;   - [GLOBAL] - userid_type=INCL
;   - [USERID] - userid=START
; - not allowed (all other userids are allowed):
;   - [GLOBAL] - userid_type=EXCL
;   - [USERID] - userid=NO_START
; uc4=NO_START

; - access for root user requires:
;   - [USERID] - root=START
; root=START
;;;;;
; this is the authorized OS user
{{ uc4_agent_user }}=START
;;;;;


[UC_USER]
; access to UC4-users:
; - allowed (only these are allowed):
;   - [GLOBAL] - UC_user_type=INCL
;   - [USERID] - UC4_user_idnr=START
; - not allowed (all other userids are allowed):
;   - [GLOBAL] - UC_user_type=EXCL
;   - [USERID] - UC4_user_idnr=NO_START
; 6=START
; 7=NO_START


[FILETRANSFER]
; ft_check_free_disk_space=yes
;   standard : ft_check_free_disk_space=no
; FT_Linkfiles=yes
;	standard FT_Linkfiles=no

[VARIABLES]
UC_HOST_CODE=UC_CODE
UC_HOST_JCL_VAR=UNIX
UC_EX_PATH_BIN=./
UC_EX_PATH_JOBREPORT=../out/
UC_EX_PATH_TEMP=../temp/
UC_EX_PATH_BACKUP=../backup/
UC_EX_JOB_MD=ucxj???m
; UC_EX_FILE_MASK_PROCESS=EVENTFILE.RRRRRRR.PP.MM.txt


[TRACE]
;;;;;
; trace file log format
file=../temp/ucxjlx6_t##.txt
;;;;;
;file=../temp/ucxjxxx_t##.txt
trccount=10
; tcp/ip=0
; event=0
; job_debug=0
; ft_debug=0
; ex_init=0
; signal=0
; mail=0


[HOSTS]
; Overwrite IP destination in case of IP NATing problems (e.g. firewalls)
; <UC4-name>=<dns-name> or
; <UC4-name>=<ip-addr>


[TCP/IP]
;;;;;
; if specified in this way, ip:port, then bindaddr is ignored and thus not needed (specifying the addr is needed for multihomed servers
;;;;;
port={{ ansible_default_ipv4.address }}:2300
; bindaddr=111.1.1.1
; bindlocal=0
; connect=60
; maxrepcnt=8
;;;;;
; this is the comm. process and port host combi to connect to
;;;;;
cp=hgaluxv7.ux.int.alte-leipziger.de:2217
; chiffre=1
; RecvBufferSize=1024k
;   default : RecvBufferSize=1M
; SendBufferSize=1024k
;   default : SendBufferSize=1M
; tcp_nodelay=no
;   default : tcp_nodelay=yes
; tcp_keepalive=no
;   default : tcp_keepalive=yes
; tcp_keepalive_time=6600
;   default : tcp_keepalive_time=0


[STARTCMD]
; start_type=batch
;
; default start_type is fork
; the next scripts are only necessary if the start_type ist batch.
; if you are using batch, so the script have to be activated.

; Bourne-Shell=nohup batch < `su - &user -c "&jobFile 1>> &jobReport 2>&1"`&
; C-Shell=nohup batch < `su - &user -c "&jobFile >>& &jobReport"`&
; Korn-Shell=nohup batch < `su - &user -c "&jobFile 1>> &jobReport 2>&1"`&
; Other-Shell=nohup batch < `su - &user -c "&jobFile 1>> &jobReport 2>&1"`&

; Only for SunOS 5.4 (US4):
; [STARTCMD]
; Bourne-Shell=batch < `su - &user -c "nohup &jobFile >> &jobReport 2>&1"`&
; C-Shell=batch < `su - &user -c "nohup &jobFile >>& &jobReport"`&
; Korn-Shell=batch < `nohup su - &user -c "&jobFile >>& &jobReport 2>&1"`&
; Other-Shell=batch < `nohup su - &user -c "&jobFile >>& &jobReport 2>&1"`&

; Only for Linux:
; [STARTCMD]
; Bourne-Shell=nohup at -c $(su - &user -c \"&jobFile 1>> &jobReport 2>&1\")&
; C-Shell=nohup at -c $(su - &user -c \"&jobFile 1>> &jobReport 2>&1\")&
; Korn-Shell=nohup at -c $(su - &user -c \"&jobFile 1>> &jobReport 2>&1\")&
; Other-Shell=nohup at -c $(su - &user -c \"&jobFile 1>> &jobReport 2>&1\")&

; for Solaris, Linux, AIX,....
;[PAM]
; libname=libpam.so
; pam_open_session=yes

[AUTHORIZATION]
KeyStore=
InitialPackage=

;;;;;
;[CP_LIST] is NOT needed; this will be created when agent starts and automatically extended
;;;;;
