# resource configuration files to read
@import=ure.xml

JndiDataSource={{ jndi_ds }}
JmsQueueName=aisQueue
JndiJmsConnectionFactory=aisJmsConnectionFactoryJndiName
DeadLetterJmsQueueName=DLQ		

jpa.showSql=false

hibernate.hbm2ddl.auto=

diagnostics.enable=true
debug.sql.level=0

default.rulebook=TEST
default.rulebook.version=1

if01.redirect.url.active=true
if01.redirect.url.encrypted=true
#if01.redirect.base.url=http://{{ instance_name }}.ux.int.alte-leipziger.de:8080/ais/screens/externalOpenCase

# users configured in the properties file 
spring.profile.security-properties=true
# local users properties; A. Kumpf, 2017-02-28
user.properties.file=classpath:local-ais-users.properties

#spring.local.context=file:ais_local_context.xml

# active directory properties
#spring.profile.security-ad=true

# UWB / Case Viewer locale: defaults to en-US
#uwb.currentLocaleLanguage=en
#uwb.currentLocaleCountry=US

#document.store.repository.directory=[path]

#turn on test screens
spring.profile.aistools=true
admin.enable=true
ais.allow.access.to.test.screens=true

#cluster communication; true=inactive, false=active
support.skip.cluster.comms=true

