# REST call to BlueCat (IPAM) API 
# Deploy DNS
# Nahlen, 02.10.2018
## {{ ansible_managed }} ###

require 'json'
require 'base64'
require 'date'
require 'rest-client'

current_time = DateTime.now
time = current_time.strftime "%d.%m.%Y %H:%M:%S:%L"

bc_protocol     = 'https'
bc_hostname     = 'dnsdhcp.int.alte-leipziger.de'
bc_port         = '443'
bc_username     = "{{ bc_username }}"
bc_password     = "{{ bc_password }}"
bc_deploysrv	= ""

baseurl = bc_protocol + '://' + bc_hostname + ':' + bc_port + '/Services/REST/v1/'
# alternativ kann man die url auch so zusammenbauen:
#baseurl = "https://#{bc_hostname}:#{bc_port}/Services/REST/v1/"


# Login  to BlueCat IPAM with username and password
request_result = RestClient.get baseurl + 'login',
  { params: { username: bc_username, password: Base64.strict_decode64(bc_password) } }

if request_result.code == 200
  # If we got a HTTP 200 back, login should have been successful
  authtoken = JSON.parse(request_result).split(/BAMAuthToken: /).last.split(/ <-/).first
else
  # Otherwise return an empty value => no token received
  authtoken = ''
end


# REST API url zusammenbauen - inkl. Properties.
url = baseurl + 'deployServerConfig' + 
  '?serverId='   + bc_deploysrv + 
  #'&properties=' + "services=DNS,DHCP|forceDNSFullDeployment=true"
  '&properties=' + "services=DNS,DHCP"

# REST API "Befehl" absetzen.
response = RestClient.post url, '', { Authorization: 'BAMAuthToken: ' + authtoken }

if response.code == 200
  # If we got a HTTP 200 back, login should have been successful
  puts "INFO: Befehl " + baseurl + " erfolgreich abgesetzt (http 200)"
else
  # Otherwise return an empty value => no token received
  puts "ERROR: Befehl " + baseurl + " ist fehlgeschlagen"
end


