# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	        . ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin

export PATH

# User specific environment and startup programs

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"{{ base_dir }}"/sap/sap-java-conn:"{{ base_dir }}"/sap/rfc-server/bin:"{{ base_dir }}"/sap/r3-agent/bin
CLASSPATH="{{ base_dir }}"/sap/r3-agent/bin
RFC_TRACE_DIR="{{ base_dir }}"/sap/rfc-server/temp
export PATH LD_LIBRARY_PATH RFC_TRACE_DIR CLASSPATH
