/ # {{ ansible_managed }}
[GLOBAL]
helplib=./uc.msl
logging=../temp/sapc_logg##.txt
logcount=10
TimeOut=60
system=UC4
language=(D,E)
CHANGE_LOGGING_MB=100
CHANGE_LOGGING_DAYS=365
USEMSL=1

[USER]
client=
user=
dept=
pass=

[TCP/IP]
cp=hgaluxv7.ux.int.alte-leipziger.de:2217

[RFC]
hostname={{ ansible_hostname }}
PROGID=uc4call
GWSERV=sapgw{{ instance_number }}
RFC_TRACE=0
unicode=0
destination=UC4

[CP_LIST]
2217=hgaluxv7.ux.int.alte-leipziger.de
