# Ansible managed!
#
#######################################################################
#####                root for SAP Installation                    #####
#######################################################################


User_Alias      SAP_ADMIN_USER = {{ sap_sid|lower }}adm

SAP_ADMIN_USER  ALL=(root) NOPASSWD:ALL
