###################
# ANSIBLE managed #
###################

[Service]
Type=oneshot
RemainAfterExit=true
KillMode=control-group
SendSIGKILL=no
User=sapadm
Group=sapsys
Environment="TERM=xterm" "HOME=/home/sapadm" "SHELL=/bin/csh" "USER=sapadm" "LOGNAME=sapadm" "PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin" "HOSTTYPE=x86_64-linux" "OSTYPE=linux" "MACHTYPE=x86_64" "SHLVL=1" "GROUP=sapsys" "HOST={{ ansible_hostname }}" "MAIL=/var/spool/mail/sapadm" "HOSTNAME={{ ansible_hostname }}" "LANG=en_US.UTF-8"
ExecStop=/usr/sap/hostctrl/exe/hostexecstart -stop
[Install]
