# Ansible managed!
#
#######################################################################
#####                             SAP                             #####
#######################################################################

User_Alias      SAP_ADMIN = %sap_admins_rhel7

Runas_Alias     SAP_USER = {{ sap_sid|lower }}adm, smdadm, sapadm, smjadm
Cmnd_Alias      SAP_SHELL_CMD = /usr/bin/bash, /usr/bin/csh, /usr/libexec/openssh/sftp-server, /usr/bin/xauth

SAP_ADMIN       ALL=(SAP_USER)    NOPASSWD:SAP_SHELL_CMD
