###################
# ANSIBLE managed #
###################

[Unit]
Description=SAP ABAP Service
After=autofs.service network.target syslog.target local-fs.target remote-fs.target systemd-user-sessions.service systemd-logind.service
Requires=systemd-logind.service systemd-user-sessions.service autofs.service
RequiresMountsFor=/usr/sap/trans /usr/sap/share /usr/sap/shuttle /usr/sap/{{ sap_sid|upper }} /sapmnt/{{ sap_sid|upper }} /sapbatch/{{ sap_sid|upper }} /sapinstall
Wants=network.target sshd.service remote-fs.target autofs.service systemd-logind.service systemd-user-sessions.service

[Service]
Type=simple
RemainAfterExit=true
SendSIGKILL=no
TimeoutStopSec=1min
User={{ sap_sid|lower }}adm
Group=sapsys
Environment="TERM=xterm" "HOME=/home/{{ sap_sid|lower }}adm" "SHELL=/bin/csh" "USER={{ sap_sid|lower }}adm" "LOGNAME={{ sap_sid|lower }}adm" "PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/usr/sap/{{ sap_sid|upper }}/SYS/exe/nuc/linuxx86_64:/usr/sap/{{ sap_sid|upper }}/SYS/exe/run:/home/{{ sap_sid|lower }}adm:." "HOSTTYPE=x86_64-linux" "OSTYPE=linux" "MACHTYPE=x86_64" "SHLVL=1" "GROUP=sapsys" "HOST={{ ansible_hostname }}" "MAIL=/var/spool/mail/{{ sap_sid|lower }}adm" "HOSTNAME={{ ansible_hostname }}" "LANG=en_US.UTF-8" "SAPSYSTEMNAME={{ sap_sid|upper }}" "DIR_LIBRARY=/usr/sap/{{ sap_sid|upper }}/SYS/exe/nuc/linuxx86_64" "RSEC_SSFS_DATAPATH=/usr/sap/{{ sap_sid|upper }}/SYS/global/security/rsecssfs/data" "RSEC_SSFS_KEYPATH=/usr/sap/{{ sap_sid|upper }}/SYS/global/security/rsecssfs/key" "rsdb_ssfs_connect=0" "LD_LIBRARY_PATH=/usr/sap/{{ sap_sid|upper }}/DVEBMGS05/exe/db2_clidriver/lib/:/usr/sap/{{ sap_sid|upper }}/SYS/global//db2/LINUX_X86_64/db2_clidriver/lib:/usr/sap/{{ sap_sid|upper }}/SYS/exe/run:/usr/sap/{{ sap_sid|upper }}/SYS/exe/nuc/linuxx86_64" "SAPDBHOST={{ db2_host }}" "dbms_type=db2" "DBS_DB2_SSID=DB2{{ sap_db2_instance[sap_sid]|upper }}" "dbs_db2_schema=SAPR3" "dbs_db2_user=YSRVAP{{ sap_db2_instance[sap_sid]|upper }}" "DB2CODEPAGE=819" "dbs_db2_dsn_alias={{ sap_sid|upper }}" "DB2DSDRIVER_CFG_PATH=/usr/sap/{{ sap_sid|upper }}/SYS/global" "XDG_SESSION_ID=11681"
ExecStop=/usr/sap/{{ sap_sid|upper }}/SYS/exe/nuc/linuxx86_64/stopsap
ExecStart=/usr/sap/{{ sap_sid|upper }}/SYS/exe/nuc/linuxx86_64/startsap
KillMode=control-group

[Install]
WantedBy=multi-user.target
