###################
# ANSIBLE managed #
###################

[Unit]
Description=SAP Diag Service
After=sap-abap.service
Wants=sap-abap.service

[Service]
Type=simple
RemainAfterExit=true
KillMode=control-group
SendSIGKILL=no
User=smdadm
Group=sapsys
Environment="TERM=xterm" "HOME=/home/smdadm" "SHELL=/bin/csh" "USER=smdadm" "LOGNAME=smdadm" "PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/usr/sap/SMD/SYS/exe/uc/linuxx86_64:/usr/sap/SMD/SYS/exe/run:/home/smdadm:." "HOSTTYPE=x86_64-linux" "OSTYPE=linux" "MACHTYPE=x86_64" "SHLVL=1" "GROUP=sapsys" "HOST={{ ansible_hostname }}" "MAIL=/var/spool/mail/smdadm" "HOSTNAME={{ ansible_hostname }}" "LANG=en_US.UTF-8" "SAPSYSTEMNAME=SMD" "DIR_LIBRARY=/usr/sap/SMD/SYS/exe/run" "RSEC_SSFS_DATAPATH=/usr/sap/SMD/SYS/global/security/rsecssfs/data" "RSEC_SSFS_KEYPATH=/usr/sap/SMD/SYS/global/security/rsecssfs/key" "rsdb_ssfs_connect=0" "LD_LIBRARY_PATH=/usr/sap/SMD/SYS/exe/run:/usr/sap/SMD/SYS/exe/uc/linuxx86_64" "SAPDBHOST={{ db2_host }}" "dbms_type=db2" "DBS_DB2_SSID=DB2{{ sap_db2_instance[sap_sid]|upper }}" "dbs_db2_schema=SAPR3" "dbs_db2_user=YSRVAP{{ sap_db2_instance[sap_sid]|upper }}" "DB2CODEPAGE=819" "dbs_db2_dsn_alias=SMD" "DB2DSDRIVER_CFG_PATH=/usr/sap/SMD/SYS/global" "XDG_SESSION_ID=11681"
ExecStop=/usr/sap/SMD/SYS/exe/uc/linuxx86_64/stopsap
ExecStart=/usr/sap/SMD/SYS/exe/uc/linuxx86_64/startsap
[Install]
WantedBy=multi-user.target
