<?xml version="1.0" encoding="ISO-8859-15"?>

<configuration>
        <!-- 0: off, 1: send, 2: receive, >=3: all -->
        <trace count="10" xml="0"></trace>
        <connections>
                <connection name="{{ automic_env[automic_system_name] }}" system="{{ automic_system_name }}">
                        <cp ip="{{ ansible_default_ipv4['address'] }}" port="{{ automic_system_port }}"/>
                </connection>
        </connections>
</configuration>
