# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 www.springframework.org
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}
10.1.99.21 uxtsm01.ux.int.alte-leipziger.de tsmbart.ux.int.alte-leipziger.de tsmbart
10.1.101.21 uxtsm02.ux.int.alte-leipziger.de tsmlisa.ux.int.alte-leipziger.de tsmlisa
10.1.98.100 lxsat.ux.int.alte-leipziger.de lxsat
172.20.98.181 pkebene {{ baw_env|lower }}_dms.hn.de
192.168.67.130 {{ baw_env|lower }}.md-medicus.net
10.1.82.236 vermittlerportal web-taat-archiv.int.alte-leipziger.de
