
# RHEL7 service File aus dem httpd Paket angepasst an die IBM Umgebung.
# HeikoH - 04.01.2019

[Unit]
Description=The IBM HTTP Server
After=network.target remote-fs.target nss-lookup.target
Documentation=file:{{ base_dir }}/HTTPServer/man/man8/httpd
Documentation=file:{{ base_dir }}/HTTPServer/man/man8/apachectl

[Service]
Type=simple
Environment=LD_LIBRARY_PATH={{ base_dir }}/HTTPServer/lib
ExecStart={{ base_dir }}/HTTPServer/bin/apachectl -f {{ base_dir }}/HTTPServer/conf/httpd.conf $OPTIONS -DFOREGROUND
ExecReload={{ base_dir }}/HTTPServer/bin/apachectl -f {{ base_dir }}/HTTPServer/conf/httpd.conf $OPTIONS -k graceful
ExecStop=/bin/kill -WINCH ${MAINPID}
User = baw
# We want systemd to give httpd some time to finish gracefully, but still want
# it to kill httpd after TimeoutStopSec if something went wrong during the
# graceful stop. Normally, Systemd sends SIGTERM signal right after the
# ExecStop, which would kill httpd. We are sending useless SIGCONT here to give
# httpd time to finish.
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
