Listen {{ instance_ip }}:80
<VirtualHost {{ instance_ip }}:80>
	IncludeOptional "/opt/rh/jboss/{{ instance_name }}/httpd/config/conf.d/*.conf"
	ProxyPass / http://{{ instance_ip }}:8080/
	ProxyPassReverse / http://{{ instance_ip }}:8080/
	ErrorLog /opt/rh/jboss/{{ instance_name }}/httpd/logs/error_log
	CustomLog "/opt/rh/jboss/{{ instance_name }}/httpd/logs/access_log" combined
</VirtualHost>

