#
#log4j.rootCategory=ALL, stderr, rolling
log4j.rootCategory=INFO, stderr, rolling
log.file=/opt/rh/jboss/{{instance_name}}/eap/standalone/log/afis.log

# Stderr logger
log4j.appender.stderr=org.apache.log4j.ConsoleAppender
log4j.appender.stderr.target=System.err
log4j.appender.stderr.layout=org.apache.log4j.PatternLayout
log4j.appender.stderr.layout.ConversionPattern=%d:%p:%t:%c:%m%n
log4j.appender.stderr.threshold=ERROR
#log4j.appender.rolling.threshold=info


# rolling file logger
log4j.appender.rolling=org.apache.log4j.RollingFileAppender
log4j.appender.rolling.File=${log.file}
log4j.appender.rolling.MaxFileSize=20MB
log4j.appender.rolling.MaxBackupIndex=10
log4j.appender.rolling.layout=org.apache.log4j.PatternLayout
log4j.appender.rolling.layout.ConversionPattern=%d:%p:%t:%c:%m%n
#log4j.appender.rolling.threshold=info

#email appender
log4j.appender.mail=org.apache.log4j.net.SMTPAppender
log4j.appender.mail.BufferSize=512
log4j.appender.mail.SMTPHost=ardito.fms.allfinanz.com
log4j.appender.mail.From=allfinanz_testing@allfinanz.com
log4j.appender.mail.To=your.name@allfinanz.com
log4j.appender.mail.Subject=Allfinanz error ... see ${log.file}
#log4j.appender.mail.layout=org.apache.log4j.HTMLLayout
log4j.appender.mail.layout=org.apache.log4j.PatternLayout
log4j.appender.mail.layout.ConversionPattern=[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n
log4j.appender.mail.Threshold=error



# FILTERS ----------------------------------------------
# for build
log4j.logger.net.sourceforge.cobertura=INFO
log4j.logger.xdoclet=INFO

log4j.logger.org.apache=INFO
#log4j.logger.org.apache.struts=INFO
#log4j.logger.org.apache.commons=INFO
#log4j.logger.org.apache.jasper=INFO
#log4j.logger.org.apache.axis2=INFO
#log4j.logger.org.apache.axiom=INFO
log4j.logger.org.apache.struts.action.ExceptionHandler=DEBUG

#log4j.logger.com.allfinanz=INFO
#log4j.logger.com.allfinanz.ure.screens=DEBUG
#log4j.logger.com.allfinanz.sqlutil=INFO
#log4j.logger.com.allfinanz.persistance=INFO
#log4j.logger.com.allfinanz.sql=DEBUG
#log4j.logger.com.allfinanz.ure=INFO
#log4j.logger.com.allfinanz.context=INFO
#log4j.logger.com.allfinanz.ureapi=INFO
#log4j.logger.com.allfinanz.case=INFO
#log4j.logger.com.allfinanz.statelessSession=INFO
#log4j.logger.com.allfinanz.uw=INFO
#log4j.logger.com.allfinanz.sequences=INFO
#log4j.logger.com.allfinanz.conditions=INFO
#log4j.logger.com.allfinanz.support=INFO
#log4j.logger.com.allfinanz.rulebook=INFO
#log4j.logger.com.allfinanz.log=INFO
#log4j.logger.com.allfinanz.init=INFO
#log4j.logger.com.allfinanz.CombinationsCollection=INFO
#log4j.logger.com.allfinanz.knowndata=INFO

#log4j.logger.com.allfinanz.ejbserver=INFO
#log4j.logger.com.allfinanz.webserver=INFO

