# {{ ansible_managed }}

[Unit]
Description=Jenkins Slave
Wants=network.target
After=network.target

[Service]
Environment="HOSTNAME={{ ansible_fqdn }}"
ExecStart=/opt/rh/jenkins/startjenkinsslave.sh
ExecStop=/opt/rh/jenkins/stopjenkinsslave.sh
SuccessExitStatus=143
User=jenkins
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
