/ # {{ ansible_managed }}
/*===================================================================*/
/*  Type R:  Register a RFC server program at a SAP gateway          */
/*           or connect to an already registered RFC server program  */
/*===================================================================*/
DEST=UC4
TYPE=R
PROGID=uc4call
GWHOST= {{ ansible_hostname }}
GWSERV=sapgw{{ instance_number }}
RFC_TRACE=0
