###################
# ANSIBLE managed #
###################

[Unit]
Description=UC4 SAP R3 Agent Service
Requires=sap-abap.service sap-diag.service
After=sap-diag.service

[Service]
Type=simple
WorkingDirectory={{ base_dir }}/sap/r3-agent/bin/
User={{ sap_sid|lower }}adm
TimeoutStartSec=15s
Environment=LD_LIBRARY_PATH="{{ base_dir }}/sap/sap-java-conn:{{ base_dir }}/sap/rfc-server/bin:{{ base_dir }}/sap/r3-agent/bin"
ExecStart=/bin/csh -c '/usr/bin/java -jar ucxjr3x.jar'
KillMode=control-group
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
