###################
# ANSIBLE managed #
###################


[Unit]
Description=UC4 SAP RFC Server Service
Requires=sap-abap.service sap-diag.service uc4-sap-r3-agent.service
After=uc4-sap-r3-agent.service

[Service]
Type=simple
WorkingDirectory={{ base_dir }}/sap/rfc-server/bin/
User={{ sap_sid|lower }}adm
Environment=LD_LIBRARY_PATH="{{ base_dir }}/sap/sap-java-conn:{{ base_dir }}/sap/rfc-server/bin:{{ base_dir }}/sap/r3-agent/bin"
ExecStart=/bin/csh -c '/usr/bin/java -jar ucxsapc.jar'
KillMode=control-group
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
