; # {{ ansible_managed }}
[GLOBAL]
name= SAP{{ sap_sid }}
system=UC4
language=(D,E)
logging=../temp/UCXJR3X_LOG_##.TXT
logcount=5
helplib=uc.msl
maxEventTimeSpan=600
;SAP_language=0
helpcache=all
use_rfcini=NO
lower_case=NO
verify=YES
userid_type=EXCL
UCXJR3X#=0
sigint=yes
SAP_Component=
WRITE=1
WRITE_TIME=2
;SAP_Component=BW

[STATUS_CHECK]
; start timer cycle for periodical status check
time=1

[TRACE]
file=../temp/UCXJR3X_TRACE_##.TXT
trccount=2
tcp/ip=0
filetransfer=0
rfc=0
jcl=0
soap=0

[TCP/IP]
port=2903
; try all n seconds to connect to server
connect=180
report=30
chiffre=0
cp=hgaluxv7.ux.int.alte-leipziger.de:2217

[AUTHORIZATION]
KeyStore=
InitialPackage=

[SAP_R/3]
; section used with SAP_Component=R/3 only
; priority of interface usage
SBB=2
XBP=1
Version=7.00

[SAP_BW]
; section used with SAP_Component=BW only
; SAP BW Version
Version=3.0B
SBB=0
ipak_change=4
maxruntime=2
repeat_check=5
;chains_parallel = 0/1
;0 = nein (Default)
;1 = ja, eine Prozesskette kann auch mehrfach parallel laufen
chains_parallel=1

[SAP_XI]
Enabled=0

[SAP_BCA]
Enabled=0

[VARIABLES]
UC_HOST_CODE=UC_CODE
; JCL variant for SAP Basis
UC_HOST_JCL_VAR=SAP
; JCL variant for SAP BW
;UC_HOST_JCL_VAR=SAPBW
UC_EX_PATH_BIN=../
UC_EX_PATH_TEMP=../temp/
UC_EX_PATH_JOBREPORT=../temp/
UC_EX_JOB_MD=

[CP_LIST]
2217=hgaluxv7.ux.int.alte-leipziger.de
2218=lx70211.ux.int.alte-leipziger.de

[RFC]
;  rfc-mode must be 3
mode=3
;  conn_keep
;  0 = do not keep connection
;  1 = keep connection
conn_keep=1
;  hostname of SAP Instance (SAP application server)
hostname={{ ansible_hostname }}
;  SAP Instance number
sysnr={{ instance_number }}
;  Load Balancing
;  0  = no
;  >0 = yes, set lb_* parameters for details
use_load_balancing=0
;  hostname of SAP message server service
;  only with use_load_balancing=yes
lb_host=
;  SAP systemname
;  only with use_load_balancing=yes
lb_system_name={{ sap_sid }}
;  Logon Group
;  only with use_load_balancing=yes
lb_group=
;  use_sapgui must be 0
use_sapgui=0
; open_ex=0/1: establish rfc connection
; 0=RfcOpen()
; 1=RfcOpenExt()
;open_ex=1
open_ex=0
; connections=0/1/2: treatment of connections
; 0=one connection at one time
; 1=for each client/user/language combination
; 2=for each job
connections=1
; conn_keep=0/1: keep connection
; 0=close rfc connection if no job is active
; 1=keep rfc connection open for further jobs (not applicable together with connections=2)

[XBP]
;  Interface Version of XBP Interface
;version = 1.0
version=3.0
;  Auditlevel
auditlevel=0

[XAL]
; Version of eXtended ALerting Interface
Version=1.0
; Enable transfer of systemlog messages regarding background processing (0/1)
Background_Syslog=0

[BACKGROUND_SYSLOG]
; Monitor set where systemlog messages for background resides
MonitorSet=SAP CCMS Monitor Templates
; Monitor where systemlog messages for background resides
Monitor=Syslog
; Monitor Tree Short Name where systemlog messages for background resides
MTShortname=Background
; Timestamp from [sec]
TSF=60
; Timestamp to [sec]
TST=300
; number of messages
count=4

[SAP_BASIS]
Version=7.40

