# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 www.springframework.org
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}
10.1.99.21 uxtsm01.ux.int.alte-leipziger.de tsmbart.ux.int.alte-leipziger.de tsmbart
10.1.101.21 uxtsm02.ux.int.alte-leipziger.de tsmlisa.ux.int.alte-leipziger.de tsmlisa
10.1.98.100 lxsat.ux.int.alte-leipziger.de lxsat
# BEGIN ANSIBLE MANAGED BAW BLOCK
10.1.65.166 bpmebene pntu-baw.ux.int.alte-leipziger.de
172.20.98.183 pkebene pntu_dms.hn.de
217.151.159.89 pntu.md-medicus.net
10.1.82.236 vermittlerportal web-taat-archiv.int.alte-leipziger.de
10.1.82.235 alvsdservice webhg-vsd-s.int.alte-leipziger.de
10.1.96.95 apiebene altohkv-pntu.ux.int.alte-leipziger.de
# END ANSIBLE MANAGED BAW BLOCK
