{{ tomcat_home }}/logs/{{ ansible_hostname }}_access_log.txt {
    copytruncate
    weekly
    rotate 1
    compress
    missingok
    create 0644 {{ tomcat_user }} {{ tomcat_group }}
}

{{ tomcat_home }}/logs/insign_error.log {
    copytruncate
    weekly
    rotate 1
    compress
    missingok
    create 0644 {{ tomcat_user }} {{ tomcat_group }}
}

{{ tomcat_home }}/logs/insign_debug.log {
    copytruncate
    weekly
    rotate 1
    compress
    missingok
    create 0644 {{ tomcat_user }} {{ tomcat_group }}
}

{{ tomcat_home }}/logs/catalina.log {
    copytruncate
    weekly
    rotate 1
    compress
    missingok
    create 0644 {{ tomcat_user }} {{ tomcat_group }}
}

{{ tomcat_home }}/logs/catalina.out {
    copytruncate
    weekly
    rotate 1
    compress
    missingok
    create 0644 {{ tomcat_user }} {{ tomcat_group }}
}
