<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="Vefgat75">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <!-- Security listener. Documentation at /docs/config/listeners.html
  <Listener className="org.apache.catalina.security.SecurityListener" />
  -->
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="8080" protocol="HTTP/1.1"
	       URIEncoding="UTF-8"
               connectionTimeout="20000"
	       compression="on"
               compressionMinSize="2048"
               noCompressionUserAgents="gozilla, traviata"
               compressableMimeType="text/html,text/xml"	
               />
    <Connector port="8009" protocol="AJP/1.3" 
	       URIEncoding="UTF-8"
	       />

    <Engine name="Catalina" defaultHost="{{ ansible_hostname }}">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="{{ ansible_hostname }}"  appBase="webapps"
            unpackWARs="false" autoDeploy="false"
            xmlValidation="false" xmlNamespaceAware="false" useHttpOnly="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
              prefix="{{ ansible_hostname }}_access_log" suffix=".txt" pattern="%A %h %l %u %t &quot;%r&quot; %s %b %D %S" resolveHosts="false" rotatable="false"/> 

      </Host>
    </Engine>
  </Service>
</Server>
