#!/bin/sh
# remove file older than 2 days from tomcat temp
#no tmpwatch installed
#flags=-m
#/usr/sbin/tmpwatch "$flags" -f 2d {{ tomcat_home }}/temp

find {{ tomcat_home }}/temp/* -type f -mtime 2 -delete
exit 0
