# .bash_profile

###############################
##                             #
##       ansible managed !     #
##                             #
################################

echo "SHELL=$SHELL"

# Get the aliases and functions
if [ -f ~/.bashrc -a "$SHELL" = "/bin/bash" ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
export HISTSIZE=2000
export HISTTIMEFORMAT='%F  %T   '
export LANG=de_DE.UTF-8
export ORACLE_BASE=/app/dwh
export ORACLE_HOME=$ORACLE_BASE/instantclient/
export NLS_LANG=GERMAN_GERMANY.WE8ISO8859P15
export NLS_NUMERIC_CHARACTERS=,.
export TNS_ADMIN=/etc
export JAVA_HOME=/app/dwh/jdk
export JBOSS_SERVER=dwh-al-{{ dwh_env|lower }}.ux.int.alte-leipziger.de
export GDVDIR=~/gdv
export LD_LIBRARY_PATH=/app/dwh/instantclient/

export PATH=$PATH:$HOME/bin:$ORACLE_HOME:$JAVA_HOME/bin:$GROOVY_HOME/bin:.

# Syntactic Sugar!
alias path='echo $PATH | tr ":" "\n"'
