;
; ansible managed!
;

[GLOBAL]
system={{ automic_system_name }}
language=(D,E)
logging=../temp/$$srv_log_*_##.txt
logCount=10
helplib=uc.msl
helpcache=ALL
startMode={{ mode }}
snmp=0
nodename=UC4
primaryMode=1
; exception: Exception handling. 
; With this option being activated, messages that caused a server process crash are intercepted and moved to quarantine. Doing so protects your AE system because intercepted messages will not affect further worker processes.
; 0 - exception handler turned off
; 1 - exception handler tuned on
exception=1
; systemStop: Client handling after Server-process start.
; NORMAL - Client status remains unchanged.
; YES - All clients are stopped after Server-process start.
systemStop=NORMAL

[CPMsgTypes]
; srvquery: Determines which process responds to the agent's life sign message
; This setting has a performance impact. If the CP layer responds than the workload is distributed as agents are connected to different CP's whereas only one Primary WP exists in a system. Furthermore there is no need to hand over the agent's life sign messages to the PWP via the message queue tables which safes database IO's
; 0 - The primary work process (PWP) responds to the agent's live sign messages. (Slower)
; 1 - The communication processes (CPs) respond to the agent's live sign messages. (Faster)
srvquery=0

[CACHE]
; script: The maximum cache size (bytes) for script.
script=3000000
; vara: The maximum cache size (bytes) for variables.
vara=3000000
; mqmem: The maximum cache size (in bytes) for the mqmem table records.
mqmem=3000000

[TRACE]
file=../temp/$$srv_trc_*_##.txt
;file=/app/celerra/uc4arch/trace/$$srv_trc_*_##.txt
trccount=10
tcp/ip=0
database=0
trc03=0
srcall=0
memio=0
jcl=0
memsv=0
snmp=0
zuxml=0
cache=0
trc11=0
ucds=0
xscript=0
uc4global=0
trc15=0
trc16=0
; memtrace: traceflag
; 0 - This setting enables writing into the file when a WP starts.
; 1 - This setting enables writing into the memory when a WP starts.
memtrace=0

[TCP/IP]
; aliveTimeout: The duration in seconds in which the AE.Nonstop-Server expects a message from the primary work process.
; If this time span is exceeded, the AE.Nonstop-Server becomes the primary work process.
aliveTimeout=600
; bindAddr: IP address the component uses to connect.
; Use this parameter if the connection should be established via a particular IP address (for example, the computer has more than one network interface card).
;bindAddr=111.1.1.1
; bindLocal: Consideration of local host 127.0.0.1 (IPv4) or ::1 (IPv6).
; Use this parameter together with BINDADDR=.
; 0 - No listen socket is created.
; 1 - An additional listen socket is created on the local host.
;bindLocal=0
; chiffre: Encryption for transfer.
; 0 - Non-encrypted transfer.
; 1 - Transfers are encrypted.
chiffre=1
; connect: The time interval in seconds for the reestablishment of connections after a loss of connection.
; For the Automation Engine: reconnect between Server Processes
; For Agents: reconnect to the Engine
; For the zOS Event Monitor:  reconnect to the Agent
; For the Proxy: reconnect to Automation Engine or Server Proxy 
connect=120
; hostName:  If you use this parameter, the UserInterfaces, CallAPIS and agents receive the information about the CPs that are known in the system via host name and port and not via the IP address and port during the CP selection phase while the connection to the Automation Engine is being established. In doing so, you can avoid firewall and other NATproblems.
; Set hostname=*OWN if you want the operating system to retrieve the host name on which the CP is running.
;hostName=
; listenQueue: The maximum number of login requests in the list queue.
listenQueue=2030
; maxMsgSize: Maximum length of messages (in bytes) that a CP (Server communication process) or an Agent accepts in Bytes.
maxMsgSize=31457280
; netarea: The name of the net area of the server processes
; Default value: Name of the AE system
; This value affects the CP selection of components such as agents. For more detailed information about this parameter, see chapter Net Areas in AE.
;netarea=
; pwpPort: The port number of the primary work process.
pwpPort=2270
; report: The time interval in seconds in which an Agent sends or the Automation Engine saves the logging to the database.
report=60
; retryWait: The time intervals in seconds during which the server processes attempt to get a free port number from the port list in [PORTS] section.
; Format: (number, interval)
; number = Maximum number of attempts that should be made in order to obtain a free port from the port list.
; interval = Waiting period in seconds between attempts.
retryWait=(3,10)
; retryWaitPwp: This parameter is exclusively used by work processes. 
; They cyclically try to connect to primary-work-process port at system start or when the connection has been lost.
; Format: (number, interval)
retryWaitPwp=(3,10)
; sendBufferSize: The size of the TCP/IP input buffer for the messages that should be sent (in bytes).
; The default value that depends on the system environment is used when you do not define this setting or when you define the value 0.
sendBufferSize=1024k
; recvBufferSize: The size of the TCP/IP input buffer for the message that should be received (in bytes).
; The default value that depends on the system environment is used when you do not define this setting or when you define the value 0.
recvBufferSize=1024k
; serverConnectionVerify: This checks whether the TCP/IP connection with a partner has been entered in the AE database table MQSRV and whether the IP address specified in the database complies with this connection's IP address. 
; Activate this setting if the server should reject connections where the IP addresses do not match.
; 0 - The TCP/IP connection and the IP address are not checked.
; 1 - Activates the query.
serverConnectionVerify=0
; snmp: The port number that the Automation Engine uses in order to connect to the AE SNMP Subagent.
snmp=
; snmpReconnect: The interval in seconds that the system needs in order to reconnect to the AE SNMP Subagent after a connection loss.
snmpReconnect=500
; tcp_KeepAlive_Time: The time interval in seconds in which keep-alive packets are sent in order to keep connections.
; The default value that depends on the system environment is used when you do not define this setting or when you define the value 0.
tcp_KeepAlive_Time=6600
; tcp_Nodelay: This defines the use of the Nagle algorithm for the connections of the Automation Engine.
; 0 - This activates the Nagle algorithm.
; 1 - This procedure is not used.
tcp_Nodelay=1

[PORTS]
cp1=2217
cp2=2218
cp3=2219
wp1=2271
wp2=2272
wp3=2273
wp4=2274
wp5=2275
wp6=2276
wp7=2277
wp8=2278
wp9=2279
wp10=2280
wp11=2281
wp12=2282
wp13=2283
wp14=2284
wp15=2285

[DB_SERVICE]
; cp: Address of the AE system's communication process to which the agent should connect.
; Allowed formats:
; DNS name:port number
; TCP/IP address:port number
cp=localhost:2217
; name: Name of the database agent that should be used to resolve variables.
; The name of the agent computer (host name) is used if nothing has been defined.
; The agent name is limited to 32 characters. The following characters are allowed: A-Z, 0-9, $, @, _, -, .
; A hyphen ( "-") can be used for the agent name in the configuration file for reasons of compatibility to former Automation Engine versions. Newly created agents must not include hyphens in their names.
name=
; 
; tcp/ip: traceflag
;
tcp/ip=0
; 
; initialPackage: Path and name of the file that contains the authentication package. 
; When it starts, the agent reads this file and stores the information it includes in the file specified in the parameter KeyStore=. The original file is then deleted.
;
initialPackage=
; 
; keyStore: Path and name of the file that contains information about the authentication package (see InitialPackage=).
;
keyStore=KStore.ini
; 
; connect: Time interval in seconds in which the agent attempts to establish connection to the Automation Engines. This affects the connection setup for a restart or after a lost connection.
;
connect=60
; 
; retention_time: Number of seconds after which an unused database connection should be terminated.
;
retention_time=60
; 
; retry: Number of connection attempts to the database.
; 
; The number that is specified in this parameter determines how often the agent attempts to connect to the database. After the nth failed attempt, the job ends with status ENDED_NOT_OK.
; 
; The agent continues to connect to the database if this parameter has not been specified in the INI file. The job remains active until the database is available again or until it is canceled.
;
retry=10
; 
; optimize: Database optimization.
; Optimization means, that if you select data with a key, the db-service automatically optimizes the query to a new statement where the given key is part of the statement. If the query does not return any data or results in an error, the original query is executed.
; 0 - Database optimization off.
; 1 - Database optimization on.
;
optimize=1

[ODBC]
; 1. Position = N - Do not use server cursor.
; 1. Position = S - Use server cursor (MS SQL Server 2000).
; 2. Position = N - Do not reestablish database connection after 1000 commits.
; 2. Position = D - Disconnect database after 1000 commits (perhaps due to memory problems).
; 3. Position = N - Field names are compared case-sensitively (Oracle).
; 3. Position = J - Field names are compared case-insensitively (Oracle).
; 4. Position = N - Not used.
; 5. Position = N - Type of database connection: ODBC.
; 5. Position = I - Type of database connection: OCI/CLI.
; 6. Position = N - Database access without User ID.
; 6. Position = O - Database access with User ID.
; 7. Position = N - Compression is deactivated.
; 7. Position = R - Compression is activated.
; 8. Position = Type of SQL Syntax; N - MS SQL Server.
; 8. Position = Type of SQL Syntax; O - Oracle.
; 8. Position = Type of SQL Syntax; D - DB2.
SQLDRIVERCONNECT=ODBCVAR=NNJNIORO,DSN={{ automic_dsn[automic_system_name] }};UID={{ automic_db_user }};PWD={{ automic_db_passwords[automic_dsn[automic_system_name]] }};SP=NLS_LANGUAGE=AMERICAN,NLS_TERRITORY=AMERICA,CODESET=WE8ISO8859P15

[JDBC]
; sqlDriverConnect: The JDBC connection string to connect JAVA based worker processes (JWP) to the database.
;sqlDriverConnect=jdbc:sqlserver://localhost:1433;databaseName=AUTOMIC

[JWP]
; allowDbTracing: By default, JWP will ignore the traceflag set for database operations for performance resons. Set this to "0" to explicitly disable db-tracing according to DATABASE traceflag.
; 0 - Database operations will never write to tracefile, even when enabled using traceflags.
; 1 - Database operations will write to tracefile when and how it is configured in traceflags.
;allowDbTracing=1

[REST] 
; host: Hostname where the REST API will be reachable from external. Configure this when using an SSL Termination proxy.
;host=
; port: Port where the REST API will accept HTTP/HTTPS requests
port=8088
; sslEnabled: Defines if HTTP or HTTPS will be used
; 0 - HTTP will be used
; 1 - HTTPS will be used
sslEnabled=0
; keystore: Path and file where the keystore for the SSL certificate is stored
keystore=./httpsKeyfile
; keystorePassword: Password of the keystore File
keystorePassword=changeit
; keyPassword: Password for the Keys protection
keyPassword=changeit
; parallelDbConnections: The maximal number of parallel connections to the database so requests can be processed at the same time
; 1..99 - Number of parallel connections
parallelDbConnections=5
; sessionTimeout: Session timeout in seconds, if a session is not used within this time span the AE user session is closed
; 2..2147483648 - seconds (maxvalue 2^31)
sessionTimeout=120

[OBJECTSEARCH]
; This parameter enables or disables updates of the search index.
; Use it to temporarily disable the indexer if the JWP has stalled.
; Without index updates, the object search returns no or outdated results!
; 0 - Index Search is disabled.
; 1 - Index Search is enabled (default)
enabled=1
; update.delay.min: Minimum delay between index updates
; This parameter configures the minimum delay (seconds) between index updates.
; If the JWP receives an OHC kick during this period, its processing will be postponed after the delay.
update.delay.min=10
; update.delay.max: Maximum delay between index updates
; This parameter configures the maximum delay (seconds) between index updates.
; The index will be updated after this time has elapsed, OHC kicks received between min and max delay will be processed immediately.
update.delay.max=300
; update.batch.size: Number of indexed objects per batch
; This parameter configures the number of objects that are indexed at once.
; If the number of objects exceeds the batch size, the indexer processes them in multiple batches with delays in between.
; The provided batch size must be supported by your database's limit on IN() queries.
update.batch.size=1000
; update.batch.delay: Delay between index batches
; This parameter configures the delay between index update batches (seconds)
; The index updater will wait this amount of seconds between index batches.
; Lower batch sizes and higher batch delays reduce the DB load during indexing,
; but also means slower index updates and a higher probability for outdated search results.
update.batch.delay=0
