# Listen fuer JBoss SSL-Proxy
Listen 443

AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl

SSLPassPhraseDialog  builtin

SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300

# Mit Apache 2.4 kein SSLMutex mehr
#SSLMutex default
Mutex default

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

SSLCryptoDevice builtin

##
## SSL Virtual Host Context fuer JBoss SSL-Proxy
##
<VirtualHost {{ instance_ip.stdout }}:443>

# Use separate log files for the SSL virtual host; note that LogLevel
# is not inherited from httpd.conf.
ErrorLog /opt/rh/jboss/{{ instance_name }}/httpd/logs/ssl_error_log
CustomLog "/opt/rh/jboss/{{ instance_name }}/httpd/logs/ssl_access_log" combined
TransferLog /opt/rh/jboss/{{ instance_name }}/httpd/logs/ssl_access_jboss_log
LogLevel warn

#   SSL Engine Switch:
#   Enable/Disable SSL for this virtual host.
SSLEngine on
SSLProxyEngine on

### Variablen aus Vorlage/draft von zeb
SSLOptions +StrictRequire
SSLCipherSuite HIGH:MEDIUM:!aNULL:+SHA1:+MD5:+HIGH:+MEDIUM

#<Proxy *>
#                Order deny,allow
#                Allow from all
#</Proxy>

ProxyRequests On
ProxyPreserveHost On

RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-Port "443"
RequestHeader set X-Forwarded-Host "{{ instance_alias }}.ux.int.alte-leipziger.de"

# Weiterleitung zu ZEB EARs
ProxyPass / http://{{ instance_ip.stdout }}:8080/ timeout=900
ProxyPassReverse / http://{{ instance_ip.stdout }}:8080/ timeout=900
## alte Konfig fuer den Betrieb auf einem Server (ohne Trennung JBoss/Carte)
ProxyPass /authentication http://{{ instance_ip.stdout }}:8080/authentication timeout=900
ProxyPassReverse /authentication http://{{ instance_ip.stdout }}:8080/authentication timeout=900
ProxyPass /control http://{{ instance_ip.stdout }}:8080/control timeout=900
ProxyPassReverse /control http://{{ instance_ip.stdout }}:8080/control timeout=900
ProxyPass /solvency http://{{ instance_ip.stdout }}:8080/solvency timeout=900
ProxyPassReverse /solvency http://{{ instance_ip.stdout }}:8080/solvency timeout=900
ProxyPass /solvency12 http://{{ instance_ip.stdout }}:8080/solvency12 timeout=900
ProxyPassReverse /solvency12 http://{{ instance_ip.stdout }}:8080/solvency12 timeout=900
ProxyPass /olapadminsolvency http://{{ instance_ip.stdout }}:8080/olapadminsolvency timeout=900
ProxyPassReverse /olapadminsolvency http://{{ instance_ip.stdout }}:8080/olapadminsolvency timeout=900
ProxyPass /dqm http://{{ instance_ip.stdout }}:8080/dqm timeout=900
ProxyPassReverse /dqm http://{{ instance_ip.stdout }}:8080/dqm timeout=900
ProxyPass /olapadmindqm http://{{ instance_ip.stdout }}:8080/olapadmindqm timeout=900
ProxyPassReverse /olapadmindqm http://{{ instance_ip.stdout }}:8080/olapadmindqm timeout=900
ProxyPass /dataintegration http://{{ instance_ip.stdout }}:8080/dataintegration timeout=900
ProxyPassReverse /dataintegration http://{{ instance_ip.stdout }}:8080/dataintegration timeout=900
ProxyPass /mcagent http://{{ instance_ip.stdout }}:8080/mcagent timeout=900
ProxyPassReverse /mcagent http://{{ instance_ip.stdout }}:8080/mcagent timeout=900


#   SSL Protocol support:
SSLProtocol -all +TLSv1

#   Server Certificate:
SSLCertificateFile /etc/pki/tls/certs/{{ instance_name }}_cert.cer

#   Server Private Key:
SSLCertificateKeyFile /etc/pki/tls/private/{{ instance_name }}_cert_key.pem

CustomLog logs/ssl_request_jboss_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>
