# Listen fuer Carte SSL-Proxy
Listen 443
Listen 8443

AddType application/x-x509-ca-cert .crt
AddType application/x-pkcs7-crl    .crl

SSLPassPhraseDialog  builtin

SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300

# Mit Apache 2.4 kein SSLMutex mehr
#SSLMutex default
Mutex default

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

SSLCryptoDevice builtin

##
## SSL Virtual Host Context fuer Carte SSL-Proxy
##
<VirtualHost *:443>

# Use separate log files for the SSL virtual host; note that LogLevel
# is not inherited from httpd.conf.
ErrorLog logs/ssl_error_carte_log
TransferLog logs/ssl_access_carte_log
LogLevel warn

#   SSL Engine Switch:
#   Enable/Disable SSL for this virtual host.
SSLEngine on
SSLProxyEngine on

### Variablen aus Vorlage/draft von zeb
SSLOptions +StrictRequire
SSLCipherSuite HIGH:MEDIUM:!aNULL:+SHA1:+MD5:+HIGH:+MEDIUM

#<Proxy *>
#                Order deny,allow
#                Allow from all
#</Proxy>

ProxyRequests Off
ProxyPreserveHost On
ProxyErrorOverride On

RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-Port "443"
RequestHeader set X-Forwarded-Host "{{ instance_alias }}.ux.int.alte-leipziger.de"

# Weiterleitung zu MC
ProxyPass /mc http://localhost:9000/mc timeout=900
ProxyPassReverse /mc http://localhost:9000/mc timeout=900 
# offizielle Weiterleitung zur rest-api, die vom Agenten angesprochen wird
# /mc/rest/service ist deprecated
# /rest gibt aber einen 404 und funktioniert auch nicht
ProxyPass /rest http://localhost:9000/rest timeout=900
ProxyPassReverse /rest http://localhost:9000/rest timeout=900

# Weiterleitung zu carte
ProxyPass / http://localhost:8081/ timeout=900
ProxyPassReverse / http://localhost:8081/ timeout=900

#   SSL Protocol support:
SSLProtocol -all +TLSv1

#   Server Certificate:
SSLCertificateFile /etc/pki/tls/certs/{{ ansible_hostname }}_cert.cer

#   Server Private Key:
SSLCertificateKeyFile /etc/pki/tls/private/{{ ansible_hostname }}_cert_key.pem

CustomLog logs/ssl_request_carte_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>

##
## SSL Virtual Host Context fuer XBRL SSL-Proxy
##

<VirtualHost *:8443>

# Use separate log files for the SSL virtual host; note that LogLevel
# is not inherited from httpd.conf.
ErrorLog logs/ssl_error_xbrl_log
TransferLog logs/ssl_access_xbrl_log
LogLevel warn

#   SSL Engine Switch:
#   Enable/Disable SSL for this virtual host.
SSLEngine on
SSLProxyEngine on

### Variablen aus Vorlage/draft von zeb
SSLOptions +StrictRequire
SSLCipherSuite HIGH:MEDIUM:!aNULL:+SHA1:+MD5:+HIGH:+MEDIUM

<Proxy *>
                Order deny,allow
                Allow from all
</Proxy>

ProxyRequests Off
ProxyPreserveHost On
ProxyErrorOverride On

RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-Port "8443"
RequestHeader set X-Forwarded-Host "{{ instance_alias }}.ux.int.alte-leipziger.de"

# Weiterleitung zu XBRL
ProxyPass / http://localhost:8099/ timeout=900
ProxyPassReverse / http://localhost:8099/ timeout=900

#   SSL Protocol support:
SSLProtocol -all +TLSv1

#   Server Certificate:
SSLCertificateFile /etc/pki/tls/certs/{{ ansible_hostname }}_cert.cer

#   Server Private Key:
SSLCertificateKeyFile /etc/pki/tls/private/{{ ansible_hostname }}_cert_key.pem

CustomLog logs/ssl_request_carte_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>
