export CATALINA_OPTS="-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses -Xmx2048M -XX:PermSize=128m -XX:MaxPermSize=512m -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -Djava.awt.headless=true -Dsps.master={{ ina_master }} -Dnet.sf.ehcache.skipUpdateCheck=true -Dina.server={{ ansible_fqdn }} -Dina.db.server={{ ina_db_server }} -Dina.mail.server={{ ina_mail_server }}"
export JAVA_OPTS="${JAVA_OPTS} -Djavax.sql.DataSource.Factory=org.apache.commons.dbcp.BasicDataSourceFactory"
