[Unit]
Description=Upstream Tomcat for owner {{ owner }}
After=syslog.target network.target

[Service]
Type=forking

Environment=TNS_ADMIN=/etc
Environment=JAVA_HOME={{ base_dir }}/jdk
Environment=CATALINA_PID={{ base_dir }}/tomcat.pid
Environment=CATALINA_HOME={{ base_dir }}/tomcat
Environment=CATALINA_BASE={{ base_dir }}/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx{{ max_heap }}M -server -XX:+UseParallelGC'
#Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/urandom'

ExecStart={{ base_dir }}/tomcat/bin/startup.sh
ExecStop={{ base_dir }}/tomcat/bin/shutdown.sh
SuccessExitStatus=143
#SuccessExitStatus=1

User={{ owner }}
Group={{ owner }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
