# -----------------------
# AwControl configuration
# -----------------------
#
# addressware Scalable Application Server URL provided
# by a load balancer or an application server. If not
# given here and not given when invoking AwControl,
# the login screen will be prompted for input.
#
# sas.url=<SAS URL>
#
sas.url=http://{{ ansible_fqdn }}:8080/awapp/sas
#
# addressware application user name. If not given here
# and not given when invoking AwControl, the login
# screen will be prompted for input.
#
# app.user.name=<awuser>
#
app.user.name=awuser_batch
#
# addressware application user password. If not given
# here and not given when invoking AwControl, the login
# screen will be prompted for input.
#
# app.user.pass=<******>
#
app.user.pass=awu123b
#
# AwControl log file. This path and file name will be
# used for any AwControl log output. The file should
# be named awctl.log. It will be overwritten each time
# AwControl is being invoked with this configuration.
#
# Note: This property is mandatory.
#
# awcontrol.log.file=awctl1.log
#
awcontrol.log.file=batch.log
#
# AwControl status email settings. Please read the following
# notes to avoid security lacks.
#
# Note #1: If email.host.user.name and email.host.user.pass
# are not given, authentication is set to false and the
# mail host might deny to relay (send) the email. However,
# the mail host (for example Exchange) might send an email
# without authentication over the intranet. This should be
# considered to avoid setting the mail host login information
# in this file.
#
# Note #2: If email.host.user.name and email.host.user.pass
# are given, authentication is set to true. In this case,
# it is strongly recommended to use the smtp port for SSL/TLS
# transport (default 465). Otherwise, host user and password
# might be transported as clear text, which would definitely
# be an unacceptable case when using a remote mail host.
#
# email.sender.address=<Sender's email address>
# email.sender.name=<Sender's name>
# email.recipient.addresses.to=<Recipient email address(es comma separated)>
# email.recipient.addresses.cc=<CC recipient email address(es comma separated)>
# email.host=<Mail host sending the email (SMTP)>
# email.host.port=<Mail port (SMTP 25, 465)>
# email.host.user.name=<Sender's mail host user name>
# email.host.user.pass=<Sender's mail host user password>
#
#email.sender.address=bernd.ritter@addressware.com
#email.sender.name=Bernd Ritter
#email.recipient.addresses.to=bernd.ritter@addressware.com
#email.host=eswexch.ESW.ESW
#email.host.port=25
#
# Application description short text. This text will be
# used when logging to the awctl.log file. When using
# AwControl in SYSTRAY mode, this text will also be shown
# on the tray icon's tool tip.
#
# Note: This property is mandatory.
#
# <APDID>.text <text>
#
B01.text=Batch Clean
#
# Process plan description. A process plan describes a
# series of actions. The following actions are supported:
#
# START_PROCESS <APDID>
#
#       - starts an addressware batch process identified
#   by the given APDID
#
# START_POST_PROCESS <APDID>
#
#       - starts a post processing batch identified by
#   the given APDID
#
# SEND_STATUS_EMAIL
#
#       - sends a status email to the recipient(s) specified
#     at email.recipient.addresses.to
#
# Plan syntax:
#
# <PLANID>.text=<text>
#
# and
#
# <PLANID>.<SEQNO>=<ACTION> [<ACTION PARAMETERS>]
#
# For example:
#
################################################
MYPLAN_01.text=Batch Clean
#
MYPLAN_01.1=START_PROCESS B01 process.log.file=batch_clean_process.log script.log.file=batch_clean_script.log
#
################################################
MYPLAN_02.text=Export nach manueller Nachbearbeitung
#
#MYPLAN_02.1=START_POST_PROCESS B01 process.log.file=batch_clean_process.log script.log.file=batch_clean_script.log
################################################
#
# Example for component retoure, PUT process:
#
# MYPLAN_03.text=Retoure PUT
# MYPLAN_03.1=START_PROCESS YJ3 PUT
#
# Batch process retry options. If an error occurred,
# the process part specified by <PLANID>.>SEQNO> can be
# run again. This might be useful for example when temporary
# locks might take affect (process error), or especially when
# using a load balancer (infrastructure error). If these
# options are not set, no retry will be performed.
#
# retry.on.process.error=<true || false>
# retry.on.infrastructure.error=<true || false>
# retry.times=<number of retries (0 to 9)>
# retry.wait.seconds=<seconds to wait until retry (0 to 3600)>
#
retry.on.process.error=false
retry.on.infrastructure.error=false
retry.times=2
retry.wait.seconds=30
