
ServerName {{ ansible_fqdn }}

ServerTokens Prod

ServerAdmin root@{{ ansible_fqdn }}

ServerRoot "/etc/httpd"

UseCanonicalName On

TraceEnable Off

Timeout 10

Listen 127.0.0.1:80

LoadModule mpm_event_module modules/mod_mpm_event.so
LoadModule unixd_module modules/mod_unixd.so
LoadModule log_config_module modules/mod_log_config.so
LoadModule authz_core_module modules/mod_authz_core.so
LoadModule authz_host_module modules/mod_authz_host.so
LoadModule dir_module modules/mod_dir.so
# mod_proxy
LoadModule proxy_module modules/mod_proxy.so
LoadModule lbmethod_bybusyness_module modules/mod_lbmethod_bybusyness.so
LoadModule lbmethod_byrequests_module modules/mod_lbmethod_byrequests.so
LoadModule lbmethod_bytraffic_module modules/mod_lbmethod_bytraffic.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
LoadModule proxy_fcgi_module modules/mod_proxy_fcgi.so
LoadModule proxy_fdpass_module modules/mod_proxy_fdpass.so
LoadModule proxy_http_module modules/mod_proxy_http.so
LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
LoadModule slotmem_plain_module modules/mod_slotmem_plain.so
# fuer mod_proxy_balancer
LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
# fuer systemd 
LoadModule systemd_module modules/mod_systemd.so
# fuer status seite
LoadModule status_module modules/mod_status.so
# fuer info seite
LoadModule info_module modules/mod_info.so
# fuer ssl re-reencryption
LoadModule ssl_module modules/mod_ssl.so

User  apache
Group apache

{% raw %}

ErrorLogFormat "[%{cu}t] [%-m:%-l] %-a %-L %M"
LogFormat      "%h %l %u [%{%Y-%m-%d %H:%M:%S}t.%{usec_frac}t] \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

LogLevel  warn
ErrorLog  logs_baw/error_log
CustomLog logs_baw/access_log combined

DocumentRoot "/var/www/html"

<IfModule dir_module>
    DirectoryIndex index.html
</IfModule>

AddDefaultCharset UTF-8

{% endraw %}

# Load config files in the "/etc/httpd/conf.d" directory, if any.
IncludeOptional conf.d/*.conf
