Listen {{ ansible_default_ipv4.address }}:80

<VirtualHost {{ ansible_default_ipv4.address }}:80>

  <Directory />
    Require all granted
    Options none
  </Directory>

  ServerName {{ baw_env|lower }}-baw.ux.int.alte-leipziger.de

  ProxyErrorOverride On

  ProxyPass /Hallesche_ArbeitsgangManager_StartOnlineWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_ArbeitsgangManager_StartOnlineWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_ArbeitsgangManager_StartOnlineWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_ArbeitsgangManager_StartOnlineWeb"

  ProxyPass /Hallesche_KinexRevisionWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KinexRevisionWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_KinexRevisionWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KinexRevisionWeb"

  ProxyPass /Hallesche_KinexErrorWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KinexErrorWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_KinexErrorWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KinexErrorWeb"

  ProxyPass /Hallesche_KPFinderWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KPFinderWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_KPFinderWeb "http://{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_KPFinderWeb"

  ProxyPass /Hallesche_DigitalerEingangskanalWeb "http://{{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_DigitalerEingangskanalWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_DigitalerEingangskanalWeb "http://{{ DigiEingang_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_DigitalerEingangskanalWeb"

  ProxyPass /Hallesche_PostkorbOnlineVorgangsManagerWeb "http://{{ Postk_Online_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_PostkorbOnlineVorgangsManagerWeb" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_PostkorbOnlineVorgangsManagerWeb "http://{{ Postk_Online_AppSrv }}.ux.int.alte-leipziger.de:8081/Hallesche_PostkorbOnlineVorgangsManagerWeb" 

  ProxyPass /Hallesche_PostkorbVorgangsManagerV002Web "http://{{ Postk_Vorgang_AppSrv }}.ux.int.alte-leipziger.de:8082/Hallesche_PostkorbVorgangsManagerV002Web" connectiontimeout=30 timeout=30
  ProxyPassReverse /Hallesche_PostkorbVorgangsManagerV002Web "http://{{ Postk_Vorgang_AppSrv }}.ux.int.alte-leipziger.de:8082/Hallesche_PostkorbVorgangsManagerV002Web"

</VirtualHost>

