Listen 443

SSLProtocol -ALL +TLSv1.1 +TLSv1.2
SSLHonorCipherOrder Off
SSLCipherSuite ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1

TraceEnable off
ServerSignature Off
ServerTokens Prod
FileETag None

#Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure

#Header always append X-Frame-Options SAMEORIGIN
#Header set X-XSS-Protection "1; mode=block"
#Header unset X-Powered-By

<VirtualHost *:443>

    <IfModule mod_ssl.c>
       SSLEngine on
       SSLProxyEngine on
       SSLProxyCACertificateFile /etc/pki/tls/certs/lx70208_cert.cer
       SSLCertificateFile /etc/pki/tls/certs/{{ ansible_hostname }}.cer
       SSLCertificateKeyFile /etc/pki/tls/private/{{ ansible_hostname }}.pem

               ProxyPass "/bpc" "https://{{ IPSGUI_AppSrv }}:4443/bpc"
               ProxyPassReverse "/bpc" "https://{{ IPSGUI_AppSrv }}:4443/bpc"

               ProxyPass "/ProcessPortal" "https://{{ IPSGUI_AppSrv }}:4443/ProcessPortal"
               ProxyPassReverse "/ProcessPortal" "https://{{ IPSGUI_AppSrv }}:4443/ProcessPortal"

               ProxyPass "/Hallesche_IPSGUI_LoggingServiceWeb" "https://{{ IPSGUI_AppSrv }}:4444/Hallesche_IPSGUI_LoggingServiceWeb"
               ProxyPassReverse "/Hallesche_IPSGUI_LoggingServiceWeb" "https://{{ IPSGUI_AppSrv }}:4444/Hallesche_IPSGUI_LoggingServiceWeb"

               ProxyPass "/IPSGUIApiGatewayWeb" "https://{{ IPSGUI_AppSrv }}:4444/IPSGUIApiGatewayWeb"
               ProxyPassReverse "/IPSGUIApiGatewayWeb" "https://{{ IPSGUI_AppSrv }}:4444/IPSGUIApiGatewayWeb"
    </IfModule>

</VirtualHost>
