*** {{ ansible_managed }}
SErvername  tsmffm
   COMMMethod           TCPip
   TCPPort              1500
   TCPServeraddress     127.0.0.1
   Errorlogname         /var/opt/tsm/dsmerror.log
   errorlogretention    4 D
   Passwordaccess       generate
   INCLEXCL             /opt/tivoli/tsm/client/ba/bin/inclexcl.list
   Nodename             {{ ansible_fqdn }}
