#!/bin/sh
#
umask 077

currentDir=$(pwd)
topDir=${currentDir%/*/*}

replaceText="${topDir}/jws([^/]*)?/tomcat{{ tomcat_version }}"

# Fix selinux file context locations
sed -i -e "s:@@CWD@@:$replaceText:" selinux/tomcat*.fc

