# DEFAULT systemd unit file for tomcat
[Unit]
Description=Red Hat JWS 3.1 Tomcat {{ tomcat_version }} for owner {{ owner }}
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ app_base }}/jdk
Environment=CATALINA_PID={{ app_base }}/jws/tomcat{{ tomcat_version }}-{{ owner }}.pid
Environment=CATALINA_HOME={{ app_base }}/jws/tomcat{{ tomcat_version }}
Environment=CATALINA_BASE={{ app_base }}/jws/tomcat{{ tomcat_version }}
Environment='CATALINA_OPTS=-Xms512M -Xmx{{ max_heap }}M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/urandom'

ExecStart={{ app_base }}/jws/tomcat{{ tomcat_version }}/bin/startup.sh
ExecStop={{ app_base }}/jws/tomcat{{ tomcat_version }}/bin/shutdown.sh
SuccessExitStatus=143
SuccessExitStatus=1

User={{ owner }}
Group={{ owner }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
