{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/bin(/.*\.sh)?                  gen_context(system_u:object_r:tomcat{{ tomcat_version }}_exec_t,s0)
{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/bin/jsvc               --      gen_context(system_u:object_r:tomcat{{ tomcat_version }}_exec_t,s0)
{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/temp(/.*)?                     gen_context(system_u:object_r:tomcat{{ tomcat_version }}_cache_t,s0)
{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/work(/.*)?                     gen_context(system_u:object_r:tomcat{{ tomcat_version }}_cache_t,s0)
{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/webapps(/.*)?          gen_context(system_u:object_r:tomcat{{ tomcat_version }}_var_lib_t,s0)
{{ app_base }}/jws([^/]*)?/tomcat{{ tomcat_version }}/logs(/.*)?                     gen_context(system_u:object_r:tomcat{{ tomcat_version }}_log_t,s0)
