/opt/rh/jboss/nilsavib_{{ stage }}/httpd/logs_hkv/*log {
    missingok
    daily
    rotate 10
    notifempty
    sharedscripts
    delaycompress
    postrotate
        /bin/systemctl reload jbcs-httpd24-httpd.service > /dev/null 2>/dev/null || true
    endscript
}
