# mod_proxy_balancer should be disabled when mod_cluster is used
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule cluster_slotmem_module modules/mod_cluster_slotmem.so
LoadModule manager_module modules/mod_manager.so
LoadModule advertise_module modules/mod_advertise.so

MemManagerFile /opt/rh/jbcs-httpd24/root/var/cache/mod_cluster

<IfModule manager_module>
  PersistSlots On
    <Directory />
    </Directory>
    ServerAdvertise off
    EnableMCPMReceive on
    <Location /mod_cluster_manager>
      SetHandler mod_cluster-manager
      Require ip 10.1.98
      Require ip 10.1.64.20
   </Location>
  </VirtualHost>
</IfModule>
