zeb.host.internal={{ instance_alias }}.ux.int.alte-leipziger.de
zeb.host.external={{ instance_alias }}.ux.int.alte-leipziger.de
zeb.http.port.internal=443
zeb.http.port.external=443

zeb.carte.external.host={{ carte_dns }}
zeb.carte.external.port=443
zeb.carte.external.protocol=https
zeb.host.carte=${zeb.carte.external.host}

zeb.managementconsole.url=https://{{ carte_dns }}:443/mc

zeb.jnpPort=4447

zeb.db.database=(DESCRIPTION = (CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3) (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = exa3-scan)(PORT = 1521)) (ADDRESS = (PROTOCOL = TCP)(HOST = exa4-scan)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = {{ db_servicename }})(SERVER = DEDICATED)(FAILOVER_MODE=(TYPE=SELECT)(METHOD=BASIC)(RETRIES=50)(DELAY=5))))

#SSO Config
usermanagement.authentication.spnego.isActive=true
usermanagement.authentication.spnego.jcifsServicePrincipal=D-zeb-Ldap@AL-H-KONZERN.DE
usermanagement.authentication.spnego.jcifsServicePassword=ZNs76I5oHqiNT13GHtnr
usermanagement.authentication.spnego.jcifsDomainController=al-h-konzern.de
usermanagement.authentication.spnego.kerberosDebug=false
usermanagement.authentication.spnego.kerberosRealm=AL-H-KONZERN.DE
usermanagement.authentication.spnego.kerberosKdc=al-h-konzern.de:88
