*** {{ ansible_managed }}
SErvername tsmffm
   COMMMethod           TCPip
   TCPPort              1500
   TCPServeraddress     tsmffm.al-h-konzern.de
   Errorlogname         /var/log/tsm/dsmerror.log
   Schedlogname         /var/log/tsm/schedule/dsmsched.log
   SCHEDMOD             PRompted
   SCHEDLOGRetention    4 D
   errorlogretention    4 D
   Passwordaccess       generate
   INCLEXCL             /opt/tivoli/tsm/client/ba/bin/inclexcl.list
   TXNByte              10240
   Nodename             {{ ansible_fqdn }}

SErvername tsmobu
   COMMMethod           TCPip
   TCPPort              1500
   TCPServeraddress     tsmobu.al-h-konzern.de
   Errorlogname         /var/log/tsm/dsmerror.log
   Schedlogname         /var/log/tsm/schedule/dsmsched.log
   SCHEDMOD             PRompted
   SCHEDLOGRetention    4 D
   errorlogretention    4 D
   Passwordaccess       generate
   INCLEXCL             /opt/tivoli/tsm/client/ba/bin/inclexcl.list
   TXNByte              10240
   Nodename             {{ ansible_fqdn }}
