### {{ ansible_managed }} ###

# select only the volumegroup containing the root-lv
VGROOT=`df|grep root|sed 's:^/.*/vg:vg:;s:-.*$::'`
# Create ReaR backup
OUTPUT=ISO
# OUTPUT_URL=nfs://fs-rear.int.alte-leipziger.de/rear
OUTPUT_URL=nfs://fs-rear.int.alte-leipziger.de/linux_nfs_rear01/qt_linux_nfs_rear01
NETFS_PREFIX={{ ansible_hostname }}

# optionally set your backup software
BACKUP=NETFS
#BACKUP_URL=nfs://fs-rear.int.alte-leipziger.de/rear
BACKUP_URL=nfs://fs-rear.int.alte-leipziger.de/linux_nfs_rear01/qt_linux_nfs_rear01
BACKUP_OPTIONS="nfsvers=3,nolock,soft"

BACKUP_PROG_EXCLUDE="/install/*"

ONLY_INCLUDE_VG=( $VGROOT )
SKIP_CFG2HTML=Y
ISO_PREFIX="ReaR-{{ ansible_hostname }}"
export TMPDIR="/var/tmp/rear"

