#v3.8.9 2018-07-12 mklueh /Tickets 170360 und 170361
#v3.9.30 akumpf neue properties mit neuer Version
about.available=false
accounting.installationid=insign-nz
add.doc.fav.default=false
add.foto.fav.default=false
addformfield.available=true
admin.password=788d54621e570d61fcf40f5d15b1a70153e0bce9da4904316c3b8d103377f312
aushaendigen.available=false
aushaendigen.mail=false
aushaendigen.paper=false
aushaendigen.sms=true
auswertung.password=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
balancing.nodeid={{ ansible_hostname }}
burger.available=true
burger.exit=Schlie\u00DFen
cache.size.disk=1G
certification.keystore.password=encrypted\:9e0a24c651e46205f3ad33d2784c164b
certification.keystore.path={{ tomcat_home }}/conf/insign-certificate-for-pdf-signing-al.jks
certification.privatekey.password=encrypted\:0ead51e5fa2c1ebfb8d4bcc9f86d2d7d8bc2b2359089da7a714215364dadcefd
#controller.password=e09eedbcae94c6b841c2ce7c84c7b657765607e7bf2f0fad72617a733733caea
database.createIfAbsent=true
database.databasetype=SQL_SERVER
database.dialect=de.is2.hibernatefix.SQLServerDialectFix
database.driverclass=com.microsoft.sqlserver.jdbc.SQLServerDriver
database.password=encrypted\:48da8454564a6070225490dac8a53f59fccf0eb1b455325f29a749a7d25656f1
database.platform=
database.url=jdbc\:sqlserver\://db-insign-e.al-h-konzern.de\:55264;DatabaseName\=InSign;Integrated Security\=True
database.user=InSignAdm
delete.sign.available=true
delete.sign.fav.default=false
document.email.download=true
exit.available=true
exit.fav.default=true
extern.available=false
extern.complete.alwaysAllowFinish=false
extern.multi.available=false
finish.mail=true
gui.action.finish.ignoresignstatus=false
gui.disableMonitorChoice=true
gui.showHinweisExitNichtFertig=true
gui.vorgangsverwaltungenabled=false
help.available=false
logging.logDebug=true
logging.logToConsole=false
logging.maxBackups=0
logging.maxFileSize=20GB
logging.passwordfilter=false
mail.debug=true
mail.from=service@alte-leipziger.de
mail.host=mailgw.dmz.alte-leipziger.de
mail.port=25
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtps.auth=true
mail.smtps.starttls.enable=true
mail.username=service@alte-leipziger.de
mail.zip=false
pairingcode.length=4
pairingcode.prefix=zz
password.charset=23456789ABCDEFGHJKLMNPRSTUVWXYZ
password.length=6
pdf.allowFormEditingForManualUpload=true
pdf.signature.contact=Konzern ALTE LEIPZIGER - HALLESCHE  Alte Leipziger-Platz 1 61440 Oberursel
pdf.signature.date.font=Times-Roman
pdf.signature.date.fontSize=24
pdf.signature.date.format=dd.MM.yyyy - HH\:mm\:ss
photoupload.allowFormEditing=true
photoupload.applos.enabled=true
photoupload.enabled=true
save.doc.available=false
search.available=false
sendtan.sms=true
serversidecallback.retry.maxcount=5
session.extern.enabled=false
settings.available=false
sign.support.berater.app=true
sign.support.berater.applosPerMail=true
sign.support.berater.applosPerSms=true
sign.support.kunde.app=true
sign.support.kunde.applosPerMail=true
sign.support.kunde.applosPerSms=true
sms.gateway.account.id=alte_leipz01
sms.gateway.account.pw=V5NC9xDu
sms.gateway.encoding=ISO-8859-1
sms.gateway.httpmethod=GET
sms.gateway.response.ok.regex=id\=[\\s\\S]*
sms.gateway.urltemplate=https\://http.secure.api.whatevermobile.com\:7011/sendsms?user\={id}&password\={pw}&from\={sender}&to\={dest}&cost_center\=10960637&body\={body}
sms.message.sender=AL-H
sms.telekom.aktiv=false
systemcheck.sendtestemail=true
systemcheck.sendtestsms=true
systemcheck.testemailrecipient=unix-team@alte-leipziger.de
systemcheck.testsmsrecipient=00491718696495
tan.length=6
timestamping.tsa.url=
toast.hide.time.integer=0
upload.enabled=true
url.admin.disable=false
vorgang.dialog.available=false
watermark.border=42.6,1.05|42.6,0.5
watermark.font=Times-Roman
watermark.position=top,right|top,left
workflow.skipsummary=false
zoom.fav.default=true
