#!/bin/bash
#
# Ansible managed!
#
# Skript, das taeglich um 6 Uhr morgens Files in /app/cognos/c*-temp, die aelter als 48 h sind
# loescht.
#
# geaendert wegen Versionsabhaengigkeit - mklueh 2016-07-25
# nochmal geaendert wegen Umzug des FS - agogala 2016-09-21
# find vorerst auskommentiert. Loescht Dateien die in der neuen Version 11 benoetigt werden - hhoefner 2017-09-08
#
COG={{ base_dir }}
#COG_TEMP={{ base_dir }}/c1021/temp
#COG_TEMP={{ base_dir }}/c*/temp
COG_TEMP={{ base_dir }}/c*-temp
LOG=$COG/scripts/logs/$(hostname -s)_cognos_del_tempfiles.out

echo "~~~~~~~~  START  ~~~~~~~~" >> $LOG
date -I >> $LOG
echo "~~~~~~~~~~~~~~~~~~~~~~~~~" >> $LOG
# find $COG_TEMP -not \( -path "$COG_TEMP/lost+found" -prune \) -type f ! -name "*.prefs" -mtime +2 -exec ls -al {} \; >> $LOG
# find $COG_TEMP -not \( -path "$COG_TEMP/lost+found" -prune \) -type f ! -name "*.prefs" -mtime +2 -exec rm -vf {} \; >> $LOG 2>&1
echo "~~~~~~~~~  END  ~~~~~~~~~" >> $LOG
echo >> $LOG
