# Ansible managed!
# delete cognos temp files every day at 6 o'clock
#
# Vorerst auskommentiert. Loescht Dateien die in der neuen Version 11 benoetigt werden - hhoefner 2017-09-08
# 0 6 * * * cognos   "{{ base_dir }}/scripts/cognos_del_tempfiles.sh"
