# Ansible managed!
# COGNOS stopping and starting every night 
#
# Vorerst auskommentiert und ist nur auf lx70013 und lx70014 aktiviert worden - YH: 2017-11-04
#
#40 20 * * * root su - cognos -c "{{ base_dir }}/scripts/cognos stop"
#45 05 * * * root su - cognos -c "{{ base_dir }}/scripts/cognos start"
