# .bash_profile

###############################
#                             #
#       ansible managed !     #
#                             #
###############################

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

export COGNOS_HOME={{ base_dir }}

#Share fuer tnsnames.ora
export TNS_ADMIN={{ base_dir }}/share/HKV/tnsnames

export LD_LIBRARY_PATH=$COGNOS_HOME/bin64:$COGNOS_HOME/bin
export NLS_LANG=GERMAN_GERMANY.WE8ISO8859P15
export LC_ALL=de_DE.utf-8
export DISPLAY=localhost:10.0
export PATH=/usr/lib64/qt-3.3/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:$LD_LIBRARY_PATH

# The following three lines have been added by UDB DB2.
if [ -f {{ base_dir }}/sqllib/db2profile ]; then
    . {{ base_dir }}/sqllib/db2profile
fi

