# ------------------------------------
# REZ Server configuration information

#----------------------------------------------------------------------

# RMI settings

	# Registry port number for rez server
	com.pass.product.rez.server.rmi.port = 7020
        com.pass.product.rez.server.rmi.rezport = 7019

# Mail settings

	# Mail server url (mandatory)
	com.pass.product.rez.server.mailing.serverurl = smtp.int.alte-leipziger.de

	# Mail server username (optional)
	# com.pass.product.rez.server.mailing.username = none

	# Mail server password (optional)
	# com.pass.product.rez.server.mailing.password = none


# =========================================================
# Settings for Pass Persistence Layer (PPL)
#
# Persistence settings - change with care
# =========================================================

	#com.pass.persistence.ppl.driver      		COM.ibm.db2os390.sqlj.jdbc.DB2SQLJDriver
	com.pass.persistence.ppl.driver 			com.ibm.db2.jcc.DB2Driver
												#com.ibm.db2.jcc.DB2Driver
	com.pass.persistence.ppl.user        		{{ tpl_dbuser }}
	com.pass.persistence.ppl.password    		{{ tpl_dbpw }}
	com.pass.persistence.ppl.URL         		jdbc\:db2\://{{ tpl_dbhost }}\:446/
												#jdbc:db2os390sqlj:
	com.pass.persistence.ppl.formatter   		com.pass.persistence.ppl.DB2Formatter
												#com.pass.persistence.ppl.DB2Formatter
	# com.pass.persistence.ppl.timestampFormat	yyyy-MM-dd-HH.mm.ss.SSS'000' => Da DB2 von V8 auf V9 umgestellt wird
	com.pass.persistence.ppl.timestampFormat	5
												#5
	com.pass.persistence.ppl.serviceWork  		{{ tpl_dbservice }}
	com.pass.persistence.ppl.schemaWork  		#{{ tpl_dbschema }}
	com.pass.persistence.ppl.connectionsWork	10
												#5
	com.pass.persistence.ppl.tableProperties	/app/rezserver/{{ stage }}/config/table.properties
	com.pass.persistence.ppl.loglevel         	5
												#5

	#OID properties - do NOT change these
	#Key name of the high-value stored in database
	oid.key 					OIDs

	com.pass.product.rez.server.bbc.pgate.properties /app/rezserver/{{ stage }}/config/persistencygate.properties


# Log settings
	# DB Logging

 		# Least log level for database logging (1 to 6). Omit if db logging is not required.
		com.pass.product.rez.logging.db.loglevel = 2
	# File logging

 		# Logfile name. Omit if file logging is not required.
		com.pass.product.rez.logging.file.filename = /app/rezserver/{{ stage }}/rez_server.log

 		# Least log level for file logging (1 to 6)
		com.pass.product.rez.logging.file.loglevel = 2

	# Mail logging

		# Admin e-mail address. Omit if mail logging is not required.
		# If an admin e-mail address is specified, all other e-mail log settings are mandatory.
		com.pass.product.rez.logging.mail.admin = michael.schickling@alte-leipziger.de

		# Sender e-mail address for logging e-mails
		com.pass.product.rez.logging.mail.sender = ALQFIX-REZ-Server@Alte-Leipziger.de

		# Subject information for logging e-mails
		com.pass.product.rez.logging.mail.subject = REZ-QFIX-Testserver

		# Least log level for mail logging (1 to 6)
		com.pass.product.rez.logging.mail.loglevel = 5

	# Console logging

		# Least log level for console logging (1 to 6)
		com.pass.product.rez.logging.console.loglevel = 2

# Process check settings
	# Delay between cyclical status checks (seconds)
	com.pass.product.rez.server.process.control.statuscheckdelay = 86400

	# Delay between cyclical time status checks (seconds)
	com.pass.product.rez.server.process.control.timecheckdelay = 60

	# Sender e-mail address for status check e-mails
	com.pass.product.rez.server.process.control.mail.sender = ALQFIX-REZ-Server@Alte-Leipziger.de

	com.pass.product.rez.server.process.concurrencyretry=3


# Mail settings for batch processing

	# sender e-mail address for mails out of business processes
	com.pass.product.rez.server.bbc.mail.sender=ALQFIX-REZ-Server@Alte-Leipziger.de

	# admin e-mail address as receiver for mails out of business processes
	com.pass.product.rez.server.bbc.mail.admin=michael.schickling@alte-leipziger.de

	# central processing e-mail address as receiver for mails out of business processes
	com.pass.product.rez.server.bbc.mail.processing=michael.schickling@alte-leipziger.de



# BR01-Properties

  # "actual Year" - "ZulageAntrag-Beitragsjahr" must be greater than this
  #  deadline. If not, the specific "ZulageAntrag" will not be imported
	com.pass.product.rez.server.bbc.initialread.deadline=-3000

# ZFAMessages-Properties
#  com.pass.product.rez.server.bbc.zfa.zfamessages.import.path=/app/rezserver/{{ stage }}/mapping/testdaten/
#  com.pass.product.rez.server.bbc.zfa.zfamessages.import.archivepath=/app/rezserver/{{ stage }}/mapping/testdaten/archive/
#  com.pass.product.rez.server.bbc.zfa.zfamessages.export.path=/app/rezserver/{{ stage }}/zfaexport

# XML-Adapter
  com.pass.product.rez.xml.properties = /app/rezserver/{{ stage }}/config/xml.properties
  com.pass.product.rez.adapter.xml.mapdir = /app/rezserver/{{ stage }}/mapping/
  com.pass.product.rez.adapter.xml.erroutput.path= /app/rezserver/{{ stage }}/
  com.pass.product.rez.adapter.xml.crlf.replace=true

# MQSeries settings
	# level for MQSeries tracing (empty or 1 - 5, 5 = most detailed)
	com.pass.product.rez.server.mqseries.tracing		= 


# settings for zfa messages
# incoming zfa messages
	# IP address of the mqseries server
	com.pass.product.rez.server.mqseries.zfa.in.hostname	= HGF-VB-VG-178

	# queue manager
	com.pass.product.rez.server.mqseries.zfa.in.queuemanager	= WMQST1
	com.pass.product.rez.server.mqseries.zfa.in.ccsid       	= 819
																#819
	# user, password
	com.pass.product.rez.server.mqseries.zfa.in.user	= YSRVREZT
	com.pass.product.rez.server.mqseries.zfa.in.password	= 

	# port
	com.pass.product.rez.server.mqseries.zfa.in.port	= 1414

	# channel for exchange of messages
	com.pass.product.rez.server.mqseries.zfa.in.channel	= REZ.WMQST1.QFIX

	# queue for messages
	com.pass.product.rez.server.mqseries.zfa.in.queue	= V0204000418.QFIX.ZFA.IN


# outgoing zfa messages
	# IP address of the mqseries server
	com.pass.product.rez.server.mqseries.zfa.out.hostname	= HGF-VB-VG-178

	# queue manager
	com.pass.product.rez.server.mqseries.zfa.out.queuemanager	= WMQST1
	com.pass.product.rez.server.mqseries.zfa.out.ccsid       	= 819

	# user, password
	com.pass.product.rez.server.mqseries.zfa.out.user	= YSRVREZT
	com.pass.product.rez.server.mqseries.zfa.out.password	= 

	# port
	com.pass.product.rez.server.mqseries.zfa.out.port	= 1414

	# channel for exchange of messages
	com.pass.product.rez.server.mqseries.zfa.out.channel	= REZ.WMQST1.QFIX

	# queue for messages
	com.pass.product.rez.server.mqseries.zfa.out.queue	= ZFA.QFIX.V0204000418.OUT




# settings for process control messages
	# ip address of the mqseries server
	com.pass.product.rez.server.mqseries.processcontrol.hostname	= HGF-VB-VG-178

	# queue manager
	com.pass.product.rez.server.mqseries.processcontrol.queuemanager	= WMQST1
	com.pass.product.rez.server.mqseries.processcontrol.ccsid        	= 819

	# user, password
	com.pass.product.rez.server.mqseries.processcontrol.user		= YSRVREZT
	com.pass.product.rez.server.mqseries.processcontrol.password	= 

# incoming process control messages
	# port
	com.pass.product.rez.server.mqseries.processcontrol.in.port	= 1414

	# channel for exchange of messages
	com.pass.product.rez.server.mqseries.processcontrol.in.channel	= REZ.WMQST1.QFIX

	# queue for messages
	com.pass.product.rez.server.mqseries.processcontrol.in.queue	= Q.UC4.AVV_QFIX



# outgoing process control messages
	# port
	com.pass.product.rez.server.mqseries.processcontrol.out.port	= 1414

	# channel for exchange of messages
	com.pass.product.rez.server.mqseries.processcontrol.out.channel	= REZ.WMQST1.QFIX

	# queue for messages
	com.pass.product.rez.server.mqseries.processcontrol.out.queue	= Q.AVV.UC4_QFIX

# encoding for reading xml-files
	com.pass.product.rez.server.file.encoding = ISO-8859-1
												#Cp037

# external processcontrol
# polling interval in seconds
# if <= 0, external processcontrol is deactivated
  com.pass.product.rez.server.mqseries.pcmsgreceiver.polling = 20

# the default certificationnumber will faded out at RT01, RT02 and RT07
com.pass.product.rez.server.zfa.defaultCertNr = 000001

# Maximum number of Records transferred to the Client within a Resultset. Omit if limitation is not required.
	com.pass.product.rez.client.maxresult = 300

# Flag indicating whether Dispatch-Address is required (true)
	com.pass.product.rez.server.service.validateaddressfordispatch = false

# Konfiguration Kunden-/Vertragsmodell fuer Zulageantraege. Moegliche Werte:
# Kundenmodell: 	customer
# Vertragsmodell:	contract
	com.pass.product.rez.server.bbc.model			contract

# Aktuelles Quartal fuer die Verarbeitung von Rueckforderungen im Format QYY
# z. B. 203 : 2. Quartal 2003
# optional; falls weggelassen, wird das Quartal verarbeitet, das dem Systemdatum vorangeht
	com.pass.product.rez.server.bbc.repayment.quarter	

# Aktuelles Quartal fuer die Fehlerfreigabe des Schwebebestands im Format QYY # z. B. 408 : 4. Quartal 2008 # optional; falls weggelassen, wird das Quartal verarbeitet, das dem Systemdatum vorangeht 	com.pass.product.rez.server.bbc.validation.quarter %FehlerQuartal%

# maximum government aid (max. gefoerderter Beitrag)
com.pass.product.rez.server.bbc.governmentaid.maximum.2002=525
com.pass.product.rez.server.bbc.governmentaid.maximum.2004=1050
com.pass.product.rez.server.bbc.governmentaid.maximum.2006=1575
com.pass.product.rez.server.bbc.governmentaid.maximum.2008=2100

# Konfiguration fuer Dauerzulageantrag
# Druck von RT01 bei Dauerzulageantrag
	com.pass.product.rez.server.bbc.continuousapplication.printrt01 = true
# Latenzzeit bis zur Uebermittlung von AZ01
	com.pass.product.rez.server.bbc.continuousapplication.latency = 0

# Konfiguration fuer ZE99 (GeVo 34)
# Import Verzeichnis
com.pass.product.rez.server.bbc.zfa.ze99.import.path = /app/rezserver/{{ stage }}/importZE99/
# Export Verzeichnis
com.pass.product.rez.server.bbc.zfa.ze99.export.path = /app/rezserver/{{ stage }}/ze99/

# ONLINE PDF Templates path
com.pass.product.rez.server.zfa.pdftemplates.path = /app/rezserver/{{ stage }}/ze99/pdftemplates/

# Bescheinigungsjahr setzen fuer RT03
com.pass.product.rez.server.bbc.beschjahr = 2007

# Delivery Id
# TRUE: Druck Schnittstellen - RT01, RT02, RT03, RT07 und RT09 wird ordnungsbegriffDru enthalten.
com.pass.product.rez.server.usedeliveryid = false

#Print RT02 and RT03 for NOT VALID Dauerzulageantrag.
com.pass.product.rez.server.bbc.continuousapplication.invalid.printrt0203 = false

#Anzahl der maximal erfassbaren Zeichen eines Vermerktextes bzw. des Textes eines Kontakteintrags
com.pass.product.rez.server.maxlengthvermerk = 300

# falls weggelassen oder false werden die AV-Beitraege im Uebertragungsjahr aus Vortragsdaten zum AV-Beitrag in der BR01 oder BR03 nicht addiert ("Summenvariante"),
# wenn true, werden die AV-Beitraege im Uebertragungsjahr aus Vortragsdaten zum Beitrag in der BR01 oder BR03 addiert ("Additionsvariante").
# faellt mit REZ-Version 27 weg. Bisher wurde true gesetzt, Anpassung AVVTBEIZU damit FALSE funktioniert
com.pass.product.rez.server.bbc.avbeitraege.uebjahr = false

# Optional;
# Falls weggelassen oder true, wird im GeVo 2 eine einzige Mail generiert, die alle DZA-Antraege mit dem Status nicht valide auflistet.
# Wenn false, wird fuer jeden invaliden DZA-Antrag eine separate Mail generiert.
com.pass.product.rez.server.bbc.invalidDZA.singlemail = false

# anbieter_Alt.properties
# com.pass.product.rez.server.bbc.anbieter_Alt.properties = /app/rezserver/{{ stage }}/config/anbieter_Alt.properties
# anbieter.properties 
com.pass.product.rez.server.bbc.anbieter.properties = /app/rezserver/{{ stage }}/config/anbieter.properties

# Maximales Alter des Passworts in Tagen, bevor es geaendert werden muss
#com.pass.product.rez.server.security.auth.passwordAge = 90
# Anzahl der Monate (taggenau), nach dem ein Account gesperrt wird, wenn in dem Zeitraum
# kein Login erfolgt
#com.pass.product.rez.server.security.auth.lastLogin = 6
# Schalter, der angibt, ob bei einer Passwortaenderung tatsaechlich ein geaendertes Passwort im Vergleich
# zu den letzten beiden vergeben werden muss (true), sonst false
com.pass.product.rez.server.security.auth.diffPasswords = false

#Neuer optionaler Eintrag zur Vorbelegung der Zertifizierungsnummer:
# Vorbelegung der Zertifizierungsnummer beim Anlegen eines neuen Zulageantrags:
# ist diese property eingetragen, muss zwingend ein 6-stelliger numerischer Wert angegeben sein
# ansonsten kann die Serverinstanz nicht gestartet werden, es wird ein entsprechender Fehler geloggt.
#com.pass.product.rez.server.certification.number = 123456

# Mandatory property, RT02 will be generated or not
# Wenn diese Property auf true steht, wird zusaetzlich zu der maschinellen AZ50-Meldung die
# Druckschnittstelle fuer die Papierbescheinigung nach 10a Abs.5 EStG bestueckt.
com.pass.product.rez.server.bbc.printrt02 = true

# Mandatory property, if false, a RT02 will be generated only if an AZ50 message was not generated
# for the Beitragsjahr of the Zulageantrag which is being processed
# Diese Property ist nur dann relevant, wenn die oben beschriebene RT02 Druck-Property auf true steht.
# Wenn diese Property auf false steht, wird die Druckschnittstelle fuer die Papierbescheinigung nach 10a Abs.5 EStG
# nur in den Faellen bestueckt, in denen keine AZ50 Meldung erzeugt werden konnte (da z.B. die Steueridentifikationsnummer nicht vorliegt).
com.pass.product.rez.server.bbc.printrt02.allcustomers = true

# Defaultbelegung von Zustimmungsdaten der Ehefrau bei DZA im GeVo 1
# optional, default false
com.pass.product.rez.server.bbc.defaultsForSpouse = true

# Beitragsjahr fuer das der Erhoehungsbetrag fuer das WfK berechnet wird
# optional, default: system year - 1
#com.pass.product.rez.server.bbc.wfkErhoehung.beitragsjahr = YYYY

# Deadline fuer die Uebermittlung der AZ50-Meldungen
# mandatory 
com.pass.product.rez.server.bbc.deadline.az50 = 02-28

#Fuer den Start des Prozesses fuer die Mengenverarbeitung von AZ50 im Rahmen der
#Jahresinitialaktion kann der REZ Server zur Performance- und Speicheroptimierung mit der
#neuen (optionalen) Property
com.pass.product.rez.server.bbc.stornoCheck.az50 = true

# Validierung von DB-Verbindungen und autom. DB-Reconnect
com.pass.persistence.ppl.validateconnection = false

# Automatische Sperrfrist in Jahren
com.pass.product.rez.server.coc.retention.period = 3

# Automatische Loeschfrist in Jahren
com.pass.product.rez.server.coc.delete.period = 50

# Optionaler boolescher Parameter (Default: false). Wenn Wert auf "false" gesetzt dann werden
# auch Kapitalentnahme mit max. Entnahmebetrag kleiner dem vorhandenen gefoerderten Kapital werden ueber RB09 weitergegeben.
com.pass.product.rez.server.bbc.KE.validation = false

# Optionaler boolescher Parameter (Default: false). Wenn Wert auf "true" gesetzt
com.pass.product.rez.server.bbc.empfKUE.wiedervorlage = false

# REZ Server Lizenzdatei
com.pass.product.rez.server.licensefilepath = /app/rezserver/{{ stage }}/config/rezserver.lic

# Optionaler boolescher Parameter (Default: true). Wenn diese REZ Server- Property auf "true" steht, legt der GeVo 33 fuer Vertraege in der Auszahlungsphase automatisch einen Zulageantrag fuer das abgelaufene Beitragsjahr an. 
com.pass.product.rez.server.bbc.vortrag.zulageantrag.auszahlphase = false

# Optionale minimale Anzahl von Kalendertagen (Default: 2), nach denen eine Folgemeldung an die ZfA uebermittelt wird (Wertebereich zwischen 0 und 7) 
# 0: keine Verzoegerung, n: Uebermittlung fruehestens am n. Kalendertag nach der relevanten Ursprungsmeldung 
# Verwendung aktuell nur im GeVo 82 als Verzoegerung zwischen AZ33- und AZ34- Meldung. 
com.pass.product.rez.server.bbc.zfa.delayForSending = 2

#Optionale Optimierung des Versandtermins der AZ34-Meldung (Default: false) 
# Wenn Wert auf "true" gesetzt ist, findet der Versand der AZ34-Meldung zu einem optimierten Termin statt 
com.pass.product.rez.server.bbc.zfa.optimizeSendingAZ34 = false

# Optionale E-Mail-Benachrichtigung der Sachbearbeitung ueber den Eingang von ZA3n-Meldungen (Default: false) 
com.pass.product.rez.server.bbc.mail.processing.KUE2 = false


