#
# @(#)startserver.sh	1.0 03/05/28
#
# Projekt : Riester-Engine Zulagenverwaltung ( REZ )
# Firma   : PASS Consulting & Application Development GmbH
#
# Alle Rechte vorbehalten.
# 2002 - Siehe Copyright-Vermerk in "Copyright.txt"
#
# @author mheilman
#
# angepasst durch A. Kumpf, 11.10.2013
# angepasst an Oracle Java 8 durch A. Kumpf, 03.12.2015
#
# precondition: classpath contains db2 & mqseries class libraries
#

# JAVA
JAVA_HOME=/usr/lib/jvm/jre-1.8.0
CP=$CLASSPATH

# MQ  
export MQ_JAVA_INSTALL_PATH=/opt/mqm/java
export MQ_JAVA_DATA_PATH=/var/mqm
export MQ_JAVA_LIB_PATH=/opt/mqm/java/lib
CP=$MQ_JAVA_LIB_PATH/com.ibm.mq.jmqi.jar:$MQ_JAVA_LIB_PATH/com.ibm.mq.jar:$MQ_JAVA_LIB_PATH/com.ibm.mqjms.jar:/opt/mqm/samp/jms/samples:/opt/mqm/samp/wmqjava/samples:$CP

# REZ
REZSERVER_HOME=/app/rezserver/{{ stage }}
REZ_LIB=$REZSERVER_HOME/lib
CP=$REZ_LIB/server/rezserver.jar:$CP
#CP=$REZ_LIB/server/reztest.jar:$CP
CP=$REZ_LIB/mailing/activation.jar:$CP
CP=$REZ_LIB/mailing/javax.mail-1.6.0.jar:$CP
CP=$REZ_LIB/castor/castor-0.9.3.19.jar:$CP
CP=$REZ_LIB/castor/castor-0.9.3.19-xml.jar:$CP
#CP=$REZ_LIB/castor/jta-1.0.1.jar:$CP
CP=$REZ_LIB/xml/xercesImpl-2.11.0.jar:$CP
#CP=$REZ_LIB/xml/xml-apis-2.11.0.jar:$CP
CP=$REZ_LIB/xml/jdom-2.0.6.jar:$CP
#CP=$REZ_LIB/xml/xmlParserAPIs.jar:$CP
CP=$REZ_LIB/db2jcc.jar:$CP
CP=$REZ_LIB/db2jcc_license_cisuz.jar:$CP

$JAVA_HOME/bin/java -cp "$CP" -Xms1024m -Xmx1024m -Djava.library.path="/opt/mqm/java/lib64:/opt/mqm/java/lib" -DREZ_CONFIG_FILE=$REZSERVER_HOME/config/rezserver.properties com.pass.product.rez.server.startup.RezStartup 1>$REZSERVER_HOME/rezserver-java.log 2>&1 &

#java -cp "$CP" -Xms1024m -Xmx1024m -Djava.library.path="/opt/mqm/java/lib64:/opt/mqm/java/lib" -Djava.endorsed.dirs=$REZ_LIB/xml -Dorg.apache.xerces.xni.parser.XMLParserConfiguration=org.apache.xerces.parsers.XML11Configuration -DREZ_CONFIG_FILE=$REZSERVER_HOME/config/rezserver.properties com.pass.product.rez.test.server.startup.RezTestStartup 1>$REZSERVER_HOME/reztest_java.log 2>&1 &
