#ppl.properties edited by itb-zs 03.02.2012
com.pass.framework.ppl.URL=jdbc\:db2\://{{ tpl_dbhost }}\:5021/
com.pass.framework.ppl.ServiceWork={{ tpl_dbservice }}
com.pass.framework.ppl.SchemaWork=\#{{ tpl_dbschema }}
com.pass.framework.ppl.user={{ tpl_dbuser }}
com.pass.framework.ppl.password={{ tpl_dbpw }}
com.pass.framework.ppl.LogFile=/app/rezweb/{{ stage }}/logs/rez2g_ppl.log
com.pass.framework.ppl.readCommited=true
com.pass.framework.ppl.tables=
com.pass.framework.ppl.driver=com.ibm.db2.jcc.DB2Driver
com.pass.framework.ppl.BehaviorAfterStore=RETURN_SAME_OBJECT
com.pass.framework.ppl.ConsoleLogging=true
com.pass.framework.ppl.CachingEnabled=false
com.pass.framework.ppl.OIDProvider=HiLo_LongObject_LongDatabase
com.pass.framework.ppl.ResultSetTimeout=1800000
com.pass.framework.ppl.PPLConnector=com.pass.framework.ppl.connector.PPLVMConnector
com.pass.framework.ppl.SingletonInitializer=com.pass.project.rez2g.generated.ppl.server.SingletonInitializer
com.pass.framework.ppl.HistoryManager=com.pass.framework.ppl.server.history.DummyHistoryManager
com.pass.framework.ppl.DatabaseTypes=TABLE\=TABLE;VIEW\=VIEW;ALIAS\=ALIAS
com.pass.framework.ppl.SecurityManager=com.pass.framework.ppl.server.security.DummySecurityManager
com.pass.framework.ppl.ConnectionsWork=3
com.pass.framework.ppl.VendorSpecific=
com.pass.framework.ppl.DEBUG.Level=WARN
com.pass.framework.ppl.Formatter=com.pass.framework.ppl.server.DB2Formatter
