<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
  
    <Connector port="8080" protocol="HTTP/1.1" 
               connectionTimeout="20000" />
    
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="rezweb-{{ stage }}">

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">
<!-- Aufgrund von WARNINGs in der catalina.out die folgende Zeile auskommentiert HeikoH 20170601 -->
<!--            xmlValidation="false" xmlNamespaceAware="false"> -->

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"  
               prefix="rez_{{ stage }}_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b %D %S" resolveHosts="false" rotatable="false"/>
        
      </Host>
    </Engine>
  </Service>
</Server>
