<Context path="/{{ stage }}" reloadable="false">
<Parameter name="rmi.host" value="{{ rezserver_ip }}" override="false"/>
<Parameter name="rmi.port" value="7020" override="false"/>
<Parameter name="com.pass.product.rez.logging.file.filename"
value="/app/rezweb/{{ stage }}/logs/rez2g.log" override="false"/>
<Parameter name="com.pass.product.rez.client.fileload.tmpdir"
value="/app/rezweb/{{ stage }}/temp" override="false"/>
</Context>
