# Ansible managed

[Unit]
Description=UC4 Host Agent Service
After=network.target

[Service]
Type=simple
Environment="LD_LIBRARY_PATH={{ base_dir }}/agent/bin"
WorkingDirectory={{ base_dir }}/agent/bin/
User={{ uc4_agent_user }}
Group={{ uc4_agent_group }}
ExecStart={{ base_dir }}/agent/bin/ucxjlx6
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
#Restart=on-failure

[Install]
WantedBy=multi-user.target
