<module xmlns="urn:jboss:module:1.0" name="oracle.jdbc">
 	<resources>
	<resource-root path="{{ ojdbc_jar }}"/>
        </resources>
	<dependencies>
		<module name="javax.api"/>
		<module name="javax.transaction.api"/>
	</dependencies>
</module>

