#needed to get this environment variables into Java-VMs, perhaps there is a much better way....
export TNS_ADMIN=/etc/
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/rh/jboss/{{ instance_name}}/instantclient/
export ORACLE_HOME=/opt/rh/jboss/{{ instance_name}}/instantclient/

