## -*- shell-script -*- ######################################################
##                                                                          ##
##  JBoss Bootstrap Script Configuration                                    ##
##                                                                          ##
##############################################################################

#
# This file is optional; it may be removed if not needed.
#

#
# Specify the maximum file descriptor limit, use "max" or "maximum" to use
# the default, as queried by the system.
#
# Defaults to "maximum"
#
#MAX_FD="maximum"

#
# Specify the profiler configuration file to load.
#
# Default is to not load profiler configuration file.
#
#PROFILER=""

#
# Specify the location of the Java home directory.  If set then $JAVA will
# be defined to $JAVA_HOME/bin/java, else $JAVA will be "java".
#
#JAVA_HOME="/opt/java/jdk"

#
# Specify the exact Java VM executable to use.
#
#JAVA=""

if [ "x$JBOSS_MODULES_SYSTEM_PKGS" = "x" ]; then
   JBOSS_MODULES_SYSTEM_PKGS="org.jboss.byteman"
fi

# Uncomment the following line to prevent manipulation of JVM options
# by shell scripts.
#
#PRESERVE_JAVA_OPTS=true
if [ -e /opt/rh/jboss/{{ instance_name }}/instantclient/oracle.sh ]; then
    . /opt/rh/jboss/{{ instance_name }}/instantclient/oracle.sh
else
    echo "oracle.sh is missing, seems to be a non-Oracle JBoss installation"
fi


# Modules path
JBOSS_MODULEPATH="$JBOSS_HOME/modules:/opt/rh/jboss/{{ instance_name }}/appconfig"

# Environment: application log directory
APP_LOG_DIRECTORY=/opt/rh/jboss/{{ instance_name }}/applogs

#
# Specify options to pass to the Java VM.
#
if [ "x$JAVA_OPTS" = "x" ]; then
   JAVA_OPTS="-Xms{{ jboss_eap_runtime_initial_memory }} -Xmx{{ jboss_eap_runtime_max_memory }} -XX:MaxPermSize=256m -Djava.net.preferIPv4Stack=true"
   JAVA_OPTS="$JAVA_OPTS -Djboss.modules.system.pkgs=$JBOSS_MODULES_SYSTEM_PKGS -Djava.awt.headless=true"
   JAVA_OPTS="$JAVA_OPTS -Djboss.modules.policy-permissions=true"
   JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address={{ jboss_eap_runtime_bind_address }}"
   JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address.management={{ jboss_eap_bind_address_management }}"
   JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address.private={{ jboss_eap_runtime_bind_address }}"
   JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address.unsecure={{ jboss_eap_runtime_bind_address }}"
   JAVA_OPTS="$JAVA_OPTS -Duser.timezone={{ jboss_eap_runtime_logging_timezone }}"
   JAVA_OPTS="$JAVA_OPTS -Djboss.node.name={{ instance_name }}"
   JAVA_OPTS="$JAVA_OPTS -Djboss.app.log.dir=$APP_LOG_DIRECTORY"
   JAVA_OPTS="$JAVA_OPTS -Djboss.messaging.cluster.password=redhat"
   JAVA_OPTS="$JAVA_OPTS -Djava.io.tmpdir=/opt/rh/jboss/{{ instance_name }}/eap/standalone/tmp"
else
   echo "JAVA_OPTS already set in environment; overriding default settings with values: $JAVA_OPTS"
fi

# Sample JPDA settings for remote socket debugging
#JAVA_OPTS="$JAVA_OPTS -agentlib:jdwp=transport=dt_socket,address=8787,server=y,suspend=n"

# Sample JPDA settings for shared memory debugging
#JAVA_OPTS="$JAVA_OPTS -agentlib:jdwp=transport=dt_shmem,server=y,suspend=n,address=jboss"

# Uncomment to not use JBoss Modules lockless mode
#JAVA_OPTS="$JAVA_OPTS -Djboss.modules.lockless=false"

# Uncomment to gather JBoss Modules metrics
#JAVA_OPTS="$JAVA_OPTS -Djboss.modules.metrics=true"

# Uncomment this to run with a security manager enabled
# SECMGR="true"
